{% extends "::structure.html.twig" %}

{% block metaTitle %}Supprimer une annonce{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}" type="text/css">
{% endblock %}

{% block granted %}{% endblock %}

{% block main %}
    <div class="bloc">
       
    </div>
{% endblock %}
