{% extends "::structure.html.twig" %}

{% block metaTitle %}Bibliographie{% endblock %}
{% block metaDescription %}{% endblock %}
{% block activeSideMenuBibliographie %}class="activeSousMenu"{% endblock %}
{% block activeSideMenuBiblioMedia %}class="activeMenu"{% endblock %}
{% block activeMenuBibliographie %}class="activeSousMenu"{% endblock %}
{% block activeMenuBiblioMedia %}class="activeMenu"{% endblock %}

{% block main %}
    <div class="bloc">
    </div>
{% endblock %}
