{% extends "::structure.html.twig" %}

{% block metaTitle %}Qui suis-je ?{% endblock %}
{% block metaDescription %}{% endblock %}
{% block activeSideMenuQuiSuisJe %}class="activeMenu"{% endblock %}
{% block activeMenuQuiSuisJe %}class="activeMenu"{% endblock %}

{% block main %}    
    <div class="bloc">
        <h2>Qui <span class="nowrap">suis-je ?</span></h2>
        
        <p>
            Dans la première partie de ma vie professionnelle, j’ai travaillé environ douze ans dans le secteur commercial. Puis j’ai eu un très grave accident de la route le <span class="nowrap">6 mai 2003,</span> dans lequel j’ai frôlé la mort et vécu une expérience de mort imminente (NDE ou EMI). J’ai alors compris qu’il était temps de changer de vie et d’aller davantage vers qui j’étais, une personne au service des autres, une personne pouvant les aider. J’ai entrepris moi-même un chemin de connaissance de soi, de libération et de transformation intérieure. J’ai aussi longuement exploré divers chemins de guérison, c'est ce dont je témoigne dans mon <span class="nowrap">livre :</span> <span class="nowrap">« L’arbre du choix »,</span> Initiation à la Vie par la Mort, aux Éditions le Temps Présent et que vous pouvez commander via ce site.
        </p>
        <p>
            J’ai aussi fondée en 2007 l’association NDE et Intégration. Au-delà des conférences sur les états de conscience modifiées, elle visait à aider les personnes à intégrer leurs expériences. Je suis intervenue durant <span class="nowrap">7 ans</span> partout en France, en donnant des conférences sur le thème des EMI (Expériences de Mort Imminente) ou des sorties de corps (OBE) ou éveil soudain de conscience.
        </p>
        <br>
        <div class="center">
            <iframe id="video-qui-suis-je" src="https://www.youtube.com/embed/pzmDDgNang8" frameborder="0" allowfullscreen></iframe>
        </div>
        <br>
        <p>
            En parallèle de mes formations, j’ai également rencontré de nombreux chamans qui m'ont enseignés d'autres pratiques de soins de l'âme. Notamment les rituels, rites de passage, les voyages au tambour, la quête de vision et la roue de médecine. L'objectif des soins est de permettre de lever les blocages émotionnels, mentaux ou spirituels et de nettoyer les différents corps énergétiques. Un soin s’entretien par votre qualité de présence et d’harmonie.
        </p>
        <p>
            En tant que sophrologue et praticienne en soins énergétiques, je me perçois comme est une "passeuse", un guide et une pédagogue délivrant, avec simplicité, des outils et des techniques propres à aider la personne. J’accompagne sans préjugé, avec empathie et neutralité.
        </p>
        <br>
        <div class="center">
            <figure style="margin-left:0;margin-right:0;">
                <img style="border-radius:10px;" src="{{ asset('img/qui_suis_je.jpg') }}" alt="Image de Nicole CANIVENQ">
                <figcaption style="font-weight:bold;margin-top:10px;">Nicole CANIVENQ</figcaption>
            </figure>
        </div>
        
    </div>
    
    <div class="bloc">
        <h4>Formation et parcours</h4>
        <ul class="space-list">
            <li>
                Formation en Aromathérapie et bien-être niveau I : <span class="nowrap">« Bien</span> être et <span class="nowrap">formations »</span> - Lattes 2014
            </li>
            <li>
                Formation à la Radiesthésie, 2013 à 2014
            </li>
            <li>
                Formation : <span class="nowrap">« Approche</span> clinique de la prise en charge des expériences <span class="nowrap">extraordinaires »</span> - Paris janvier 2013 avec IRETT donnée par Nicolas DUMONT, psychologue
            </li>
            <li>
                Formation aux Tarots de Marseille, leur symbolique dans une perspective spirituelle d’évolution, 2012 à 2014
            </li>
            <li>
                Formation : <span class="nowrap">« La mort</span> et le processus du <span class="nowrap">mourir »</span> avec Stanislav GROF (Psychiatre) - Paris octobre 2012 avec l'IRETT
            </li>
            <li>
                Formation à <span class="nowrap">« l'Accompagnement</span> des <span class="nowrap">mourants »</span> - Fédération JALMAV CRERSI - 2011
            </li>
            <li>
                Formation en Aurathérapie niveau 1 et 2 en 2010 et 2011 (technique énergétique)
            </li>
            <li>
                Diplôme de Sophrologue - <a href="http://www.ecole-formation-sophrologie.fr/" target="_blank">École Française de Sophrologie</a> - Montpellier en 2007
            </li>
            <li>
                D.U. de Formateur - Université de Paul Valéry - Montpellier III en 2007
            </li>
            <li>
                DUT Techniques de Commercialisation - Université Paul Sabatier - Toulouse
            </li>   
        </ul>

        <div id="qui_suis_je" class="center">
            <p>
                Membre du Syndicat National des Sophrologues,<br>
                <a href="http://www.syndicat-sophrologues.fr/accueil/" target="_blank">http://www.syndicat-sophrologues.fr/accueil/</a>
            </p>
            <p>
                Membre de la S.F.S, Société Française de Sophrologie de Paris,<br>
                <a href="https://www.sophrologie-francaise.com/" target="_blank">https://www.sophrologie-francaise.com/</a>
            </p>
            <p>
                Membre du GES, Groupe d'Epistémologie de la Sophrologie,<br>
                <a href="http://www.sophrologie-recherche.com/index.php/sophro-interview-science" target="_blank">http://www.sophrologie-recherche.com/index.php/sophro-interview-science</a>
            </p>
            <p>
                Etre adhérent d'un syndicat signifie que j'adhère à un code déontologique ainsi qu'à l'éthique de la profession. C'est également une garantie, pour le pratiquant, que le sophrologue qu'il choisi a bien suivi une formation conséquente (2 ans) au métier de sophrologue.
            </p>
            <br>
            <p class="citation">
                <span class="nowrap">« Comme</span> un jardinier qui fait du compost avec ses déchets, la pleine conscience permet de transformer dépression, peur, colère et désespoir en une énergie <span class="nowrap">fertilisante. »</span> <span class="nowrap">Thich Nhat Hanh</span>
            </p>
            <div id="information_entreprise">
                <p>
                    N° SIRET : 819 480 344 00012 - Code APE : 8690F
                </p>
            </div>
        </div>
    </div>
{% endblock %}
