{% extends "::structure.html.twig" %}

{% block metaTitle %}Qui suis-je ?{% endblock %}
{% block metaDescription %}{% endblock %}
{% block activeSideMenuQuiSuisJe %}class="activeMenu"{% endblock %}
{% block activeMenuQuiSuisJe %}class="activeMenu"{% endblock %}

{% block main %}
    <div id="qui_suis_je" class="bloc center">
        <h2>Qui suis-je ?</h2>

        <p>
            <strong>Nicole CANIVENQ</strong>, Diplômée de l'Ecole Française de Sophrologie de Montpellier,<br>
            <a href="http://www.ecole-formation-sophrologie.fr/" target="_blank">http://www.ecole-formation-sophrologie.fr/</a>
        </p>
        <p>
            Membre du Syndicat National des Sophrologues,<br>
            <a href="http://www.syndicat-sophrologues.fr/accueil/" target="_blank">http://www.syndicat-sophrologues.fr/accueil/</a>
        </p>
        <p>
            Membre de la S.F.S, Société Française de Sophrologie de Paris,<br>
            <a href="https://www.sophrologie-francaise.com/" target="_blank">https://www.sophrologie-francaise.com/</a>
        </p>
        <p>
            Membre du GES, Groupe d'Epistémologie de la Sophrologie,<br>
            <a href="http://www.sophrologie-recherche.com/index.php/sophro-interview-science" target="_blank">http://www.sophrologie-recherche.com/index.php/sophro-interview-science</a>
        </p>
        <p class="small">
            Etre adhérent d'un syndicat signifie que j'adhère à un code déontologique ainsi qu'à l'éthique de la profession. C'est également une garantie, pour le pratiquant, que le sophrologue qu'il choisi a bien suivi une formation conséquente (2 ans) au métier de sophrologue.
        </p>
        <p style="font-size:120%;">
            <strong>Contact : <a style="text-decoration:none;" href="tel:+33622437901" title="Appelez-moi">06 22 43 79 01</a></strong>
        </p>
        <div id="information_entreprise">
            <p>
                N° SIRET : 819 480 344 00012<br>
                Code APE : 8690F
            </p>
        </div>
        <br>
        <img style="border-radius:10px;" src="{{ asset('img/qui_suis_je.jpg') }}" alt="Image de Nicole CANIVENQ">
    </div>
    <br>
    <br>
    <div class="bloc">
        <h4>Formation et parcours</h4>
        <ul>
            <li>DUT Techniques de Commercialisation - Université Paul Sabatier - Toulouse</li>
            <li>D.U. de Formateur - Université de Paul Valéry - Montpellier III en 2007</li>
            <li>Diplôme de Sophrologue - Ecole Française de Sophrologie - Montpellier en 2007</li>
            <li>Formation en Aurathérapie niveau 1 et 2 en 2010 et 2011 (technique énergétique)</li>
            <li>Formation à l'accompagnement des mourants - Fédération JALMAV CRERSI - 2011</li>
            <li>Formation : "La mort et le processus du mourir" avec Stanislav GROF(Psychiatre) - Paris octobre 2012 avec l'IRETT</li>
            <li>Formation : "Approche clinique de la prise en charge des expériences extraordinaires ». Paris janvier 2013 avec IRETT donnée par Nicolas DUMONT, psychologue</li>
            <li>Formation en aromathérapie et bien-être niveau I. Bien être et formations. Lattes 2014</li>
        </ul>

       <p>
           J’ai travaillé environ douze ans dans le secteur commercial. Puis suite à un très grave accident de la route en 2003, dans lequel j’ai frôlé la mort et vécu une expérience de mort imminente, j’ai compris qu’il était temps de changer de vie et d’aller davantage vers qui j’étais, une personne au service des autres, une personne pouvant les aider. C’est ainsi que j’ai effectué mon changement de vie.
       </p>
        <p>
            Je suis aussi intervenue durant 7 ans partout en France, en donnant des conférences sur le thème des EMI (expériences de mort imminente) ou des sorties de corps (OBE) ou éveil soudain de conscience. J’ai fondée l’association NDE et Intégration en 2007. Au-delà des conférences sur les états de conscience modifiées, elle visait à aider les personnes à intégrer leurs expériences.
        </p>
        <p>
            En parallèle de mes formations, j’ai également rencontré de nombreux chamans qui m'ont enseignés d'autres pratiques de soins de l'âme. Notamment les rituels, rites de passage, les voyages au tambour, la quête de vision et la roue de médecine. L'objectif des soins est de permettre de lever les blocages émotionnels, mentaux ou spirituels et de nettoyer les différents corps énergétiques. Un soin s’entretien par votre qualité de présence et d’harmonie.
        </p>
        <p>
            En tant que sophrologue et praticienne en soins je me perçois comme est une "passeuse", un guide et une pédagogue délivrant, avec simplicité, des outils et des techniques propres à aider la personne. J’accompagne sans préjugé, avec empathie et neutralité. 
        </p>
    </div>
    
    <div class="bloc center">
        <img style="border-radius:10px;" src="{{ asset('img/formation_parcours_fleur.jpg') }}" alt="Fleurs violettes">
        <p class="citation">La beauté des fleurs pour le plaisir des yeux et du coeur.</p>
    </div> 
{% endblock %}
