{% extends "::structure.html.twig" %}

{% block metaTitle %}Ma pratique{% endblock %}
{% block metaDescription %}{% endblock %}
{% block activeSideMenuQuiSuisJe %}class="activeSousMenu"{% endblock %}
{% block activeSideMenuQuiMaPratique %}class="activeMenu"{% endblock %}
{% block activeMenuQuiSuisJe %}class="activeSousMenu"{% endblock %}
{% block activeMenuQuiMaPratique %}class="activeMenu"{% endblock %}

{% block main %}
    <div class="bloc">
        <h2>Ma pratique professionnelle</h2>
        
        <div class="center">
            <img class="image-top" style="border-radius:10px;margin-top:15px;margin-bottom:15px;" src="{{ asset('img/mon_approche_riviere.jpg') }}" alt="Image d'une rivère au coucher de soleil.">
        </div>
    </div>
    <div class="bloc">
        <h4>Mon approche</h4>
        
        <p>
            Les nombreuses formations que j’ai pu suivre et l’intégration de ces outils dans ma vie personnelle, m’ont données envie de vous proposer un accompagnement holistique qui intègre vos multiples dimensions : physique, émotionnelle, mentale et spirituelle.
        </p>
        <p>
            Que votre demande soit ponctuelle (harmonisation, rééquilibrage des chakras, décristallisation de mémoire, soulager des douleurs…) ou concerne un suivi sophrologique, ma démarche s’inscrit dans la voie des <strong>thérapies quantiques et naturelles</strong> car nous <strong>avons le pouvoir de faire évoluer notre cerveau et nos gênes</strong>. De nombreuses études scientifiques s’en font écho aujourd’hui en neurosciences.
        </p>
        <p>
            <strong>La sophrologie vise l'autonomisation de la personne</strong>. Chacun peut s'approprier les outils et acquérir ainsi de nouveaux réflexes grâce aux techniques enseignées. En chaque être réside la possibilité de dynamiser son potentiel et de recontacter et mobiliser ses ressources intérieures.
        </p>
        <p>
            Nous sommes remplis des trésors inexploités et de capacités pour conduire notre vie. Or nous ignorons souvent ces potentiels car nous avons appris à chercher en dehors de nous l'harmonie et des réponses "toutes faites".  La sophrologie et les soins énergétiques vous permettent au contraire de <span class="nowrap">« rentrer</span> en <span class="nowrap">vous »</span> et de <strong>ressentir ce qui est bon pour vous</strong>, de vous relier à votre intuition. <strong>Tout est en nous, dans notre cœur et notre âme !</strong>
        </p>
        <p>
            Je me propose de vous accompagner sur ce chemin d'exploration intérieure et de vous offrir des clés. Mon expérience vous permettra de trouver vos propres réponses, de faire vos choix et de retrouver vos ressources uniques et singulières.
        </p>
    </div>
    
    <div class="bloc">
        <h4>Mes valeurs</h4>
        
        <p class="center">
            <strong>Elles sont le fondement de mon engagement dans mon travail.</strong>
            <img class="image-top" style="display:block;border-radius:10px;margin-top:30px;margin-bottom:30px;margin-right:auto;margin-left:auto;" src="{{ asset('img/mes_valeurs_pierres.jpg') }}" alt="Image de pierres.">
        </p>
        
        <ul id="mes_valeurs">
            <li><strong>Respect de la <span class="nowrap">personne :</span></strong> chaque être humain est unique et arrive avec son histoire de vie. Chacun est respecté dans son unicité.</li>
            <li><strong>Confidentialité des échanges :</strong> ce qui se vit dans un groupe ou une séance individuelle reste dans ce cercle et n'en sort pas.</li>
            <li><strong>Ecoute et <span class="nowrap">dialogue :</span></strong> un des principes de fonctionnement est le respect de la parole de chacun et une écoute active, un dialogue constructif.</li>
            <li><strong>Accueil des différences et <span class="nowrap">bienveillance :</span></strong> quelque soit notre couleur, nos croyances, notre vie, nous avons tous des richesses à développer et à partager, c'est pourquoi nous accueillons les différences avec curiosité et bienveillance, plutôt qu'indifférence ou jugement.</li>
            <li><strong>Non jugement et ouverture <span class="nowrap">d'esprit :</span></strong> chacun est libre de ses pensées et de ses ressentis. Ils lui appartiennent. Le non jugement est un gage d'ouverture.</li>
        </ul> 
        
        <br>
        <p class="citation">
            <span class="nowrap">« L'essentiel</span> est invisible pour les <span class="nowrap">yeux. »</span> Antoine de <span class="nowrap">ST EXUPERY</span>
        </p>
    </div>
    
    
{% endblock %}
