{% extends "::structure.html.twig" %}

{% block metaTitle %}Qui suis-je ?{% endblock %}
{% block metaDescription %}{% endblock %}
{% block activeSideMenuQuiSuisJe %}style="background-color:#f4d0b7;color:black;"{% endblock %}
{% block activeMenuQuiSuisJe %}style="background-color:#f4d0b7;color:black;"{% endblock %}

{% block main %}
    <div class="bloc center">
        <h2>Qui suis-je ?</h2>
        
        <img style="border-radius:10px;" src="{{ asset('img/qui_suis_je.jpg') }}" alt="Image de Nicole CANIVENQ">
        
        <p>
            <strong>Nicole CANIVENQ</strong> <br>
            <span style="display:block;margin-bottom:10px;"></span>
            Diplômée de l'Ecole Française de Sophrologie de Montpellier <br>
            (<a href="http://www.ecole-formation-sophrologie.fr/" target="_blank">http://www.ecole-formation-sophrologie.fr/</a>)
        </p>
        <p>
            Membre du Syndicat National des Sophrologues : <a href="http://www.syndicat-sophrologues.fr/accueil/" target="_blank">http://www.syndicat-sophrologues.fr/accueil/</a>
        </p>
        <p>
            Membre de la S.F.S, Société Française de Sophrologie de Paris : <a href="https://www.sophrologie-francaise.com/" target="_blank">https://www.sophrologie-francaise.com/</a>
        </p>
        <p>
            Membre du GES, Groupe d'Epistémologie de la Sophrologie : <a href="http://www.sophrologie-recherche.com/index.php/sophro-interview-science" target="_blank">http://www.sophrologie-recherche.com/index.php/sophro-interview-science</a>
        </p>
        <br>
        <p>
            Etre adhérent d'un syndicat signifie que j'adhère à un code déontologique ainsi qu'à l'éthique de la profession. C'est également une garantie, pour le pratiquant, que le sophrologue qu'il choisi a bien suivi une formation conséquente (2 ans) au métier de sophrologue.
        </p>
    </div>
    
    <div class="bloc">
        <h4>Formations et parcours</h4>
        <ul id="formations_et_parcours">
            <li>DUT Techniques de Commercialisation - Université Paul Sabatier - Toulouse</li>
            <li>D.U. de Formateur - Université de Paul Valéry - Montpellier III en 2007</li>
            <li>Diplôme de Sophrologue - Ecole Française de Sophrologie - Montpellier en 2007</li>
            <li>Formation en Aurathérapie niveau 1 et 2 en 2010 et 2011 (technique énergétique)</li>
            <li>Formation à l'accompagnement des mourants - Fédération JALMAV CRERSI - 2011</li>
            <li>Formation : "La mort et le processus du mourir" avec Stanislav GROF(Psychiatre) - Paris octobre 2012 avec l'IRETT</li>
            <li>Formation : "Approche clinique de la prise en charge des expériences extraordinaires ». Paris janvier 2013 avec IRETT donnée par Nicolas DUMONT, psychologue</li>
            <li>Formation en aromathérapie et bien-être niveau I. Bien être et formations. Lattes 2014</li>
        </ul>
        
        <p>
            Je suis aussi intervenue durant 7 ans partout en France, en donnant des conférences sur le thème des EMI (expériences de mort imminente) ou des sorties de corps (OBE) ou éveil soudain de conscience. J’ai fondée l’association NDE et Intégration en 2007. Au-delà des conférences sur les états de conscience modifiées, elle visait à aider les personnes à intégrer leurs expériences.
        </p>
        <p>
            En parallèle de mes formations, j’ai également rencontré de nombreux chamans qui m'ont enseignés d'autres pratiques de soins de l'âme. Notamment les rituels, rites de passage, les voyages au tambour, la quête de vision et la roue de médecine. L'objectif des soins est de permettre de lever les blocages émotionnels, mentaux ou spirituels et de nettoyer les différents corps énergétiques. Un soin s’entretien par votre qualité de présence et d’harmonie.
        </p>
        <p>
            En tant que sophrologue et praticienne en soins je me perçois comme est une "passeuse", un guide et une pédagogue délivrant, avec simplicité, des outils et des techniques propres à aider la personne. J’accompagne sans préjugé, avec empathie et neutralité. 
        </p>
    </div>
    
    <div class="bloc">
        <h4>Mes valeurs</h4>
        
        <p>
            Elles sont le fondement de mon engagement dans mon travail.
        </p>
        <ul id="mes_valeurs">
            <li><strong>Respect de la personne :</strong> chaque être humain est unique et arrive avec son histoire de vie. Chacun est respecté dans son unicité.</li>
            <li><strong>Confidentialité des échanges :</strong> ce qui se vit dans un groupe ou une séance individuelle reste dans ce cercle et n'en sort pas.</li>
            <li><strong>Ecoute et dialogue :</strong> un des principes de fonctionnement est le respect de la parole de chacun et une écoute active, un dialogue constructif.</li>
            <li><strong>Accueil des différences et bienveillance :</strong> quelque soit notre couleur, nos croyances, notre vie, nous avons tous des richesses à développer et à partager, c'est pourquoi nous accueillons les différences avec curiosité et bienveillance, plutôt qu'indifférence ou jugement.</li>
            <li><strong>Non jugement et ouverture d'esprit :</strong> chacun est libre de ses pensées et de ses ressentis. Ils lui appartiennent. Le non jugement est un gage d'ouverture.</li>
            <li><strong>Respect du cadre de travail</strong> de la sophrologie telle que fondée par A. CAYCEDO (pratiques et théorie).</li>
        </ul>
        
        <br>
        
        <p class="citation">
            "L'essentiel est invisible pour les yeux". Antoine de ST EXUPERY
        </p>
    </div>
    
{% endblock %}
