{% extends "::structure.html.twig" %}

{% block metaTitle %}Mes valeurs ?{% endblock %}
{% block metaDescription %}{% endblock %}
{% block activeSideMenuQuiSuisJe %}class="activeSousMenu"{% endblock %}
{% block activeSideMenuQuiMesValeurs %}class="activeMenu"{% endblock %}
{% block activeMenuQuiSuisJe %}class="activeSousMenu"{% endblock %}
{% block activeMenuQuiMesValeurs %}class="activeMenu"{% endblock %}

{% block main %}
    <div class="bloc">
        <h2>Mes valeurs</h2>
        
        <p class="center">
            Elles sont le fondement de mon engagement dans mon travail.
        </p>
        <ul id="mes_valeurs">
            <li><strong>Respect de la personne :</strong> chaque être humain est unique et arrive avec son histoire de vie. Chacun est respecté dans son unicité.</li>
            <li><strong>Confidentialité des échanges :</strong> ce qui se vit dans un groupe ou une séance individuelle reste dans ce cercle et n'en sort pas.</li>
            <li><strong>Ecoute et dialogue :</strong> un des principes de fonctionnement est le respect de la parole de chacun et une écoute active, un dialogue constructif.</li>
            <li><strong>Accueil des différences et bienveillance :</strong> quelque soit notre couleur, nos croyances, notre vie, nous avons tous des richesses à développer et à partager, c'est pourquoi nous accueillons les différences avec curiosité et bienveillance, plutôt qu'indifférence ou jugement.</li>
            <li><strong>Non jugement et ouverture d'esprit :</strong> chacun est libre de ses pensées et de ses ressentis. Ils lui appartiennent. Le non jugement est un gage d'ouverture.</li>
            <li><strong>Respect du cadre de travail</strong> de la sophrologie telle que fondée par A. CAYCEDO (pratiques et théorie).</li>
        </ul>
        
        <br>
        
        <p class="citation">
            "L'essentiel est invisible pour les yeux". Antoine de ST EXUPERY
        </p>
    </div>
    
{% endblock %}
