{% extends "::structure.html.twig" %}

{% block metaTitle %}Soins énergétiques - Aura thérapie, magnétisme{% endblock %}
{% block metaDescription %}{% endblock %}
{% block activeSideMenuSoinsEnergetiques %}class="activeSousMenu"{% endblock %}
{% block activeSideMenuSoinsEnergetiquesTherapies %}class="activeMenu"{% endblock %}
{% block activeMenuSoinsEnergetiques %}class="activeSousMenu"{% endblock %}
{% block activeMenuSoinsEnergetiquesTherapies %}class="activeMenu"{% endblock %}

{% block main %}
    <div class="bloc">
        <h2>Thérapies <span class="nowrap">énergétiques :</span> aura-thérapie et magnétisme</h2>
        
        <p>
            <a href="#soins-pratique">&#x27A5; Pratiques des thérapies énergétiques</a><br>
            <a href="#soins-comment">&#x27A5; Comment ça <span class="nowrap">fonctionne ?</span></a><br>
            <a href="#soins-deroulement">&#x27A5; La séance d’aura thérapie et magnétisme se déroule en 3 temps</a><br>
            <a href="#soins-comment-se-deroule">&#x27A5; Comment se déroule une séance de soins <span class="nowrap">énergétiques ?</span></a><br>
            <a href="#soins-bienfaits">&#x27A5; Les Bienfaits</a><br>
            <a href="#soins-infos">&#x27A5; Informations pratiques et tarifs</a><br>
            <a href="#soins-qui">&#x27A5; À qui s’adressent les soins <span class="nowrap">énergétiques ?</span></a>
        </p>
    </div>
    
    <div class="bloc">
        <h4 id="soins-pratique">Pratiques des thérapies énergétiques</h4>
        
        <p>
            <i class="italic-space">
                "La recherche moderne a apporté la preuve que l’être humain n’était pas uniquement constitué de matière, mais qu’il était également psychique et énergétique. De plus, l’astrophysique, la physique quantique et la recherche sur la pensée et les émotions ont permis de relier les différentes médecines modernes, traditionnelles et énergétiques."
            </i>
            Docteur Luc Bodin
        </p>
        <p>
            Les techniques de soins énergétiques reposent sur le principe que l’organisme est composé d’un réseau d’énergie vitale. Les traumatismes auxquels on a pu être confrontés vont alors créer des déséquilibres plus ou moins importants, des fuites d’énergies qui vont se manifester sur le plan physique (sous la forme de troubles divers), émotionnel ou mental. Les traumatismes peuvent être nôtres bien entendu (vécus dans l’enfance ou plus tard) mais aussi ceux de notre lignée quand ils n’ont pas été intégrés et dissous par nos ancêtres (déni, secrets de famille…). Ils n’en restent pas moins actifs en nous, même si nous n’en voulons pas.
        </p>
        <p>
            Un soin énergétique est donc une approche holistique de la personne incluant les champs énergétiques subtils. Il travaille sur les 4 plans de <span class="nowrap">l’être :</span> physique par résonnance, mental, émotionnel et spirituel. 
        </p>
        <p>
            Il consiste à purifier, nettoyer, libérer, harmoniser et rétablir la circulation de l’énergie vitale du corps. Parfois, on est amené à travailler sur la libération des nœuds familiaux et karmiques.
        </p>
    </div>
    
    <div class="bloc">
        <h4 id="soins-comment">Comment ça <span class="nowrap">fonctionne ?</span></h4>
        
        <p>
            Notre corps est entouré d’une enveloppe énergétique appelée «aura». En passant mes mains au dessus de votre corps physique, je peux ressentir et percevoir les trous, les décalages de l’aura, les fuites, les chocs émotionnels et effectuer la réparation par l’Energie. Je suis simplement un canal dans ce type de soins. Lorsque qu’une personne subie un choc physique, psychologique, émotionnel ou une intervention chirurgicale, les différents corps (physique et subtils) enregistrent notre vécu et il est souvent nécessaire de retirer les mémoires pour se libérer et mieux vivre avec de plus en plus de conscience.
        </p>
        <p>
            Pour terminer le soin, je canalise et transmet l'Énergie au patient par imposition des mains pour activer le processus naturel de guérison.
        </p>
    </div>
    
    <div class="bloc">
        <h4 id="soins-deroulement">La séance d’aura thérapie et magnétisme se déroule en 3 <span class="nowrap">temps :</span></h4>
        
        <ul>
            <li>Un temps de dialogue qui permet de préciser votre état actuel et vos besoins,</li>
            <li>Le soin lui-même où vous pouvez simplement vous détendre et être présent à vos ressentis intérieurs tout en laissant faire l’énergie et en accueillant ce qui vient,</li>
            <li>Un temps d'expression libre afin de favoriser l'intégration de votre vécu.</li>
        </ul>
 
        <p>
            Une séance se passe en individuel et dure environ 1h. Concrètement, le patient est allongé habillé, sur la table de massage. Tenue confortable libre.
        </p>
    </div>
    
    <div class="bloc">
        <h4 id="soins-comment-se-deroule">Comment se déroule une séance de soins <span class="nowrap">énergétiques ?</span></h4>
        
        <p>
            Dans un premier temps, je vous invite à respirer amplement pour vider le mental et vous ouvrir à recevoir le meilleur. Puis je vous accompagne au niveau de conscience sophroliminal (niveau de conscience entre la veille et le sommeil), afin que vous vous retrouviez <strong>profondément détendu</strong>, présent, <strong>calme</strong> et <strong>à un niveau de perception élargie</strong>. Cela vous permettra de mieux ressentir les différentes sensations et phénomènes qui se dérouleront en vous.
        </p>
        <p>
            Dans un second temps j’effectue un nettoyage énergétique de tous vos corps avec le <span class="nowrap">« smodging »</span> (sauge que je fais brûler et avec une prière  et que je passe au dessus de votre corps). 
        </p>
        <p>
            Ensuite, j’interviens alors pour effectuer les soins énergétiques appropriés à votre besoin : test de vos chakras et scan de votre aura. Réparation avec la Lumière. 
        </p>
        <p>
            Une fois le soin énergétique réalisé, je finalise en imposant mes mains. Le soin est achevé, nous prenons un temps pour partager ensemble, si vous le souhaitez.
        </p>
        <span style="display:block;height:10px;"></span>
        <p>
            Rappel important sur notre <span class="nowrap">collaboration :</span> Toute démarche de soin et d’exploration intérieure nécessite la motivation d'une personne volontaire et engagée pour atteindre son objectif de mieux-être ou de développement. Notre travail se fait donc en alliance pour avancer ensembles. Vous êtes l’acteur principal de votre évolution et de votre guérison. N’oubliez pas que la guérison est souvent un processus et demande un cheminement pour changer parfois certaines de nos habitudes nocives pour l’harmonie. 
        </p>
        <p>
            <i>Les séances qui couplent l’énergétique et le magnétisme ne se substituent en aucun cas aux traitements médicaux et s'inscrivent dans une complémentarité avec ceux-ci. Bien entendu, je ne pose aucun diagnostic médical.</i>
        </p>
        
        
    </div>
    
    <div class="bloc">
        <h4 id="soins-bienfaits">Les Bienfaits</span></h4>
        
        <div class=center>
            <p>
                Arbre logo avec nouveaux mots
            </p>
        </div>
        
        <p>
            <i>Un travail sur plusieurs séances (de 3 à 10 séances environ selon les cas) peut vous aider à réparer les traumatismes du passé.</i><br>
            Le soin répare et libère en douceur nos douleurs du passé. <strong>Vous êtes invités à vous exprimer pour libérer le passé ou les chocs vécus et passer à autre chose.</strong> Un soin énergétique ne fait pas appel à notre mental et à notre intellect. Il opère à un autre plan purement vibratoire et cependant très actif.
        </p>
        <p>
            Un soin agit toujours en fonction des besoins énergétiques du <span class="nowrap">patient :</span> ni trop, ni trop peu, car la personne "absorbe" uniquement l'énergie dont elle a besoin.
        </p>
        <div class="center">
            <img id="img-soins-energetiques" src="{{ asset('img/soins-energetiques.jpg') }}" alt="Image de soins énergétiques">
        </div>
    </div>
    
    <div class="bloc">
        <h4 id="soins-infos">Informations pratiques et tarifs</span></h4>
        
        <p>
            <strong>Séance <span class="nowrap">Adultes</strong> (1h) :</strong> 50€
        </p>
        <p>
            <strong>Séance <span class="nowrap">Enfant</strong> (30 à 40 minutes) :</strong> 35€
        </p>
    </div>
    
    <div class="bloc">
        <h4 id="soins-qui">À qui s’adressent les soins <span class="nowrap">énergétiques ?</span></h4>
        
        <p>
            Les soins énergétiques visent à vous redonner vitalité et bien-être et conviennent à toutes les personnes qui ont <span class="nowrap">besoin :</span>
            <ul>
                <li>D’un soutien énergétique et moral en cas de fatigue chronique que ce soit physique ou psychologique,</li>
                <li>D’une aide afin de maîtriser leur stress et leur angoisse (examen, concours, compétition, accouchement)</li>
                <li>D’un accompagnement dans les moments difficiles pour surmonter une épreuve (deuil, divorce, licenciement, maladie grave…)</li>
                <li>D’un apaisement physique pour ceux qui ressentent des douleurs récurrentes et des troubles divers.</li>
                <li>D’un travail sur des scénarios de vie répétitifs,</li>
                <li>D’une libération émotionnelle,</li>
                <li>D’un travail de libération des mémoires de la lignée,</li>
                <li>D'éliminer les liens d’attachements toxiques avec des personnes qui "pompent" votre énergie et donc vous épuisent,</li>
                <li>D'éliminer les blocages émotionnels, responsables de malaises et souffrances enracinés dans un organe et responsables de son dysfonctionnement,</li>
                <li>De retrouver l’énergie et l’ancrage dans votre vie (rester concentré sur ses objectifs, aligné, le corps détendu et l’esprit apaisé).</li>
            </ul>
            Ils relancent toujours l’Énergie Vitale du patient. 
        </p>
    </div>
    
{% endblock %}
