{% extends "::structure.html.twig" %}

{% block metaTitle %}Soins énergétiques - Soin chamanique{% endblock %}
{% block metaDescription %}{% endblock %}
{% block activeSideMenuSoinsEnergetiques %}class="activeSousMenu"{% endblock %}
{% block activeSideMenuSoinsEnergetiquesChamaniques %}class="activeMenu"{% endblock %}
{% block activeMenuSoinsEnergetiques %}class="activeSousMenu"{% endblock %}
{% block activeMenuSoinsEnergetiquesChamaniques %}class="activeMenu"{% endblock %}

{% block main %}
    <div class="bloc">
        <h2>Soin chamanique</h2>
        
    </div>
{% endblock %}
