{% extends "::structure.html.twig" %}

{% block metaTitle %}Soins énergétiques - Soin chamanique{% endblock %}
{% block metaDescription %}{% endblock %}
{% block activeSideMenuSoinsEnergetiques %}class="activeSousMenu"{% endblock %}
{% block activeSideMenuSoinsEnergetiquesChamaniques %}class="activeMenu"{% endblock %}
{% block activeMenuSoinsEnergetiques %}class="activeSousMenu"{% endblock %}
{% block activeMenuSoinsEnergetiquesChamaniques %}class="activeMenu"{% endblock %}

{% block main %}
    <div class="bloc">
        <h2>Soins chamaniques</h2>
        
        <div class="center">
            <img class="image" src="{{ asset('img/soins-chamaniques.jpg') }}" alt="Photo de tambours">      
        </div>
        <br>
        <p>
            Formée au chamanisme Amérindien depuis 2005 par de nombreux chamans, tous passeurs de leur savoirs respectifs, dont Tamara Farin, Aigle Bleu (Canada), Thaayroyahadi (Mexique), Dyani Ywahoo (Cherokee), Sylver Fox (USA), Mike Bastine (Algonquin), Loumitéa (Algonquine), Anja Norman (Suède), Johan Pawnee (Canada), Michele Burdet (USA), Liliane Van Der Velde, Georges Crespo Dr. Tal Schaller et Johanne Razanamahav, Jean Marie Muller, et Roger Dard (France), Vera Sazhina (Russie), Guillermo (Pérou), <strong>j’ai à cœur de partager mon expérience pour participer à la reconnexion de chacun avec la source de son Être</strong>.
        </p>
        <br>
        <p>
            <a href="#soins-what">&#x27A5; Qu’est-ce que le <span class="nowrap">chamanisme ?</span></a><br>
            <a href="#soins-deroulement">&#x27A5; Déroulement d'une séance</a><br>
            <a href="#soins-qui">&#x27A5; Pour <span class="nowrap">qui ?</span></a><br>
            <a href="#soins-bienfaits">&#x27A5; Les bienfaits</a><br>
            <a href="#soins-infos">&#x27A5; Informations pratiques et tarifs</a><br>
        </p>
    </div>
    
    <div class="bloc">
        <h4 id="soins-what">Qu’est-ce que le <span class="nowrap">chamanisme ?</span></h4>
        
        <img class="image-float-left-vertical" src="{{ asset('img/tambour-soins-chamaniques.jpg') }}" alt="Photo d'arbre">      
        <p>
            <strong>Le Chamanisme est une tradition spirituelle très ancienne émergeant des origines de l'humanité</strong>, conservée et encore pratiquée par les dernières sociétés traditionnelles. Ce terme est un mot générique, originaire des montagnes de l'Altaï, en Sibérie. Les anthropologues ont rendu universel le mot "chaman" pour évoquer un <strong>guérisseur initié aux pratiques de médecine traditionnelle archaïque et détenteur d'une sagesse liée à la Terre, au Ciel et aux différents mondes.</strong><br>
            C'est avant tout une pratique qui permet de se reconnecter avec son corps, en retrouvant ce qui nous unit avec la Mère Terre pour mieux nous ancrer et retrouver notre essence divine, spirituelle, donc notre reliance au Père Ciel. Le chaman <span class="nowrap">« voyage »</span> sur un axe reliant le Ciel et la Terre. Il travaille avec les esprits des différents règnes de la Terre (minéral, végétal, animal et humain), les quatre éléments (feu, terre, air, eau), ainsi qu'avec les énergies célestes (guides, maîtres spirituels, etc.). Il <strong>utilise les vibrations émises par ces énergies pour la guérison des âmes et des corps malades</strong>. Il est aussi souvent un sage qui canalise les enseignements conservés dans la mémoire ésotérique de l'humanité. <strong>Chaque chaman est unique mais son rôle est avant tout un rôle de service</strong> et d’aide pour ceux qui ont besoin de lui, ceux qui souffrent, qui sont malades.
        </p>
        <p>
            Le chamanisme est avant tout  un mode d’être qui privilégie une relation harmonieuse avec la nature et tout ce qui existe. Il amène vers une attitude respectueuse du <span class="nowrap">Vivant :</span> la terre, le  ciel, les pierres, les arbres, les plantes, les animaux, les étoiles… sont nos frères et nos soeurs. Cette manière d’être s’établit de manière sensible avec les esprits et le monde subtil. Il s’agit de maintenir l’harmonie entre l’homme, le monde naturel et le sacré.
        </p>
        <p>
            Ce n’est pas une religion, ni une philosophie. C’est une expérience personnelle, intime avec l’univers, ses forces et la conscience. Il s’agit d’être ou de retrouver notre symbiose avec la Vie.
        </p>
    </div>
    
    <div class="bloc">
        <h4 id="soins-deroulement">Déroulement d'une séance</h4>
        
        <ul class="space-list">
            <li>Séance de rencontre avec votre animal totem ou animal de pouvoir,</li>
            <li>Séance de nettoyage énergétique (voir <a href="{{ path('website_soins_energetiques_therapies') }}" title="Aller sur la page Aurathérapie et magnétisme">aurathérapie, magnétisme</a> puisque je combine toutes mes techniques dans ces soins selon le besoin de la personne)</li>
        </ul>
 
        <h6 style="margin-top:40px;" class="center">Rencontre avec son animal totem</h6>
        
        <div class="center">
            <img style="border-radius:10px;" src="{{ asset('img/aigle_1.jpg') }}" alt="Photo d'aigle">        
        </div>
        <p>
           La séance s'articule avec une relaxation et le temps de rencontre avec votre animal guide.
        </p>
        <p>
            La Médecine<a href="#ref_medecine">*</a> des Autochtones est un mode de vie qui engage tout l'Être puisqu'il exige que nous cheminions sur la Terre en parfaite harmonie avec les lois de l'Univers et du Vivant. Nos amis les animaux livrent certains messages de guérison, de précieuses leçons de vie, ou une certaine énergie à un moment où nous en avons besoin.
        </p>
        <p>
            Un animal totem reflète notre personnalité, notre façon d'être. Comme le disent les Amérindiens, chaque Animal a sa "médecine spécifique". On peut donc apprendre de notre animal totem quelque chose sur nous même.
        </p>
        <p class="small" id="ref_medecine">
            *Médecine = ce terme n’a pas le même sens que chez nous, pour eux c’est tout se qui va nous fortifier, nous nourrir. Il est donc question de <strong>trouver sa propre médecine</strong> et bien sûr, de la pratiquer !
        </p>
        <p>
            Nos guides, nos animaux de pouvoir font partie de notre <span class="nowrap">« médecine ».</span> Encore faut-il les connaître et se relier à eux. Ils nous aident à trouver les bonnes réponses pour nous lors des voyages chamaniques. Un animal peut nous donner de sa force, un message, une de ses qualités, nous montrer un aspect caché de notre <span class="nowrap">« problème »,</span> un défaut sur lequel oeuvrer…
        </p>
        <p>
            Nos animaux totems ont une forte connexion avec nous, leurs vibrations sont en accord avec notre vie et notre personnalité. De ce fait, notre totem aura naturellement des points communs avec nous. Ce ne sera pas forcément un animal que l'on aime ou auquel on aurait songé avec notre mental... laissons nous surprendre par cette découverte au tambour.<br>
            En observant comment notre animal vit dans la nature, nous en saurons plus sur nos besoins profonds, parfois négligés par la vie moderne et l’éloignement de notre nature profonde.
        </p>
        <p>
            Une cérémonie aux tambours est un espace sacré dans lequel chaque personne accède à une nouvelle expérience ou compréhension profonde de Vie. <strong>Le tambour a de nombreuses vertus dont le fait d’équilibrer nos deux hémisphères cérébraux. Il nous ouvre à un état modifié de conscience, permettant d’autres perceptions et compréhensions profondes.</strong> La cérémonie <span class="nowrap">« lave »</span> les stress, les tensions et apporte un bien être particulier très bénéfique. Elle permet ainsi de repartir dans la Vie avec <span class="nowrap">« quelque chose »</span> en plus.

        </p>  
    </div>
    
    <div class="bloc">
        <h4 id="soins-qui">Pour <span class="nowrap">qui ?</span></h4>
        
        <p>
            Dans votre vie, vous avez souvent eu des <span class="nowrap">intuitions ?</span> Vous avez senti que la Vie et le monde sont autre chose que ce que l’on vous a dit de croire. Vous savez qu’il existe un monde subtil source de joie, d’aides et de <span class="nowrap">connaissance ?</span> Vous savez que chaque chose possède une âme, que la vie et la mort ne sont que des aspects de <span class="nowrap">l’Être ?</span> Vous avez peut être du mal à vous reconnaitre totalement dans ce monde <span class="nowrap">d’aujourd’hui ?</span> Il est bien possible que l’esprit chamanique soit en <span class="nowrap">vous !</span>
        </p>
        <p>
            Les <strong>soins chamaniques sont bons pour tous ceux qui se sentent appelés par ce type d’énergies</strong> ; soyez les <span class="nowrap">bienvenus !</span>
        </p>
    </div>
    
    <div class="bloc">
        <h4 id="soins-bienfaits">Les bienfaits</h4>

        <ul>
            <li>Retrouver sa vraie nature,</li>
            <li>Reconnecter à son âme,</li>
            <li>Soins de <span class="nowrap">« guérison »<a href="#ref_guerison">*</a></span></li>
            <li>Se retrouver,</li>
            <li>Reconnecter à son cœur,</li>
            <li>Alignement,</li>
            <li>Retrouver l’Unité</li>
        </ul>
        
        <p class="small" id="ref_guerison">
            * Le terme de <span class="nowrap">« guérison »</span> est ici employé dans son sens Amérindien. Pour les peuples traditionnels, tout ce qui nous fait vibrer, trouver de la joie, en accord avec les lois de la Vie est une médecine et donc contribue à notre santé, à notre <span class="nowrap">« guérison ».</span> Comme toujours les soins sont complémentaires à la médecine classique. N’arrêtez jamais votre traitement sans consulter votre médecin. Soyez responsable de votre santé.
        </p>
    </div>
    
    <div class="bloc">
        <h4 id="soins-infos">Informations pratiques et tarifs</h4>
        
        <ul class="space-list">
            <li>
                Séance individuelle au cabinet, <span class="nowrap">50 minutes :</span> <strong><span class="nowrap">50 euros</span></strong>.</strong><br>
                Pour la 1ère séance, compter 1H.
            </li>
            
            <span style="display:inline-block;margin-top:10px;" class="nowrap">Adresse :</span> <span class="nowrap">37 rue Johann Strauss,</span> <span class="nowrap">34690 Fabrègues.</span>
            <iframe id="map-37rue" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2891.2799089503787!2d3.783980415702901!3d43.55905026653145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6b261a492ec1f%3A0xb18b41b86d107!2s37+Rue+Johann+Strauss%2C+34690+Fabr%C3%A8gues!5e0!3m2!1sfr!2sfr!4v1477407310676" frameborder="0" style="border:0" allowfullscreen></iframe>

            <br>
            <li>
                À votre <span class="nowrap"> domicile :</span>
                <ul>
                    <li>pour les personnes malades ou ayant des difficultés, je peux me déplacer et faire le soin à votre domicile. Il faudra un espace pour vous allonger éventuellement (canapé) et ne pas être dérangé le temps de la séance.</li>
                    <li>Forfait déplacement en <span class="nowrap">sus :</span> <span class="nowrap">10 euros</span> (villages autour de Fabrègues uniquement dans un rayon de <span class="nowrap">10 kms</span> maximum)</li>
                </ul> 
            </li>
        </ul>
           
        <p>
            Toute séance annulée moins de 24H à l'avance est due. Règlement par chèque ou espèces.
        </p>
    </div>
    
    <div class="bloc">
        <p class="citation">
            « Nous sommes tous les enfants de la terre-mère et du Père-ciel. Nous devons être les gardiens de la terre et la transmettre de la plus belle façon aux générations <span class="nowrap">futures. »</span>
        </p>
    </div>
{% endblock %}
