{% extends "::structure.html.twig" %}

{% block metaTitle %}Soins énergétiques - Aurathérapie et magnétisme{% endblock %}
{% block metaDescription %}Nettoyage énergétique de vos corps. Soins appropriés : test de vos chakras et scan de votre aura. Réparation avec la Lumière. Je finalise en imposant mes mains.{% endblock %}
{% block activeSideMenuSoinsEnergetiques %}class="activeSousMenu"{% endblock %}
{% block activeSideMenuSoinsEnergetiquesTherapies %}class="activeMenu"{% endblock %}
{% block activeMenuSoinsEnergetiques %}class="activeSousMenu"{% endblock %}
{% block activeMenuSoinsEnergetiquesTherapies %}class="activeMenu"{% endblock %}

{% block main %}
    <div class="bloc">
        <h2>Aurathérapie et magnétisme</h2>
        
        <div class="center">
            <img class="image-240" src="{{ asset('img/auratherapie_et_magnetisme.jpg') }}" alt="Citation d'Einstein">
        </div>
        
        <p>
            <a href="#soins-deroulement">&#x27A5; Déroulement d'une séance</a><br>
            <a href="#soins-qui">&#x27A5; Pour <span class="nowrap">qui ?</span></a><br>
            <a href="#soins-bienfaits">&#x27A5; Les bienfaits</a><br>
            <a href="#soins-infos">&#x27A5; Informations pratiques et tarifs</a><br>
        </p>
    </div>
    
    <div class="bloc">
        <h4 id="soins-deroulement">Déroulement d'une séance</h4>
        
        <ul>
            <li>Un temps de dialogue qui permet de préciser votre état actuel et vos besoins,</li>
            <li>Le soin lui-même,</li>
            <li>Un temps d'expression libre afin de favoriser l'intégration de votre vécu.</li>
        </ul>
 
        <p>
            Une séance se passe en individuel et dure environ 50 minutes. Concrètement, vous êtes allongé, habillé, sur la table de massage. Tenue confortable libre.
        </p>
        <p>
          J’effectue un nettoyage énergétique de tous vos corps. Puis, je réalise les soins <span class="nowrap">appropriés :</span> test de vos chakras et scan de votre aura. Réparation avec la Lumière. Je finalise en imposant mes mains.
        </p>
        <p>
          <span class="nowrap">Rappel :</span> toute démarche de soin nécessite la motivation <strong>d'une personne volontaire et engagée</strong> pour atteindre son objectif de mieux-être ou de développement. Notre travail se fait donc en <strong>alliance</strong> pour avancer ensemble. Vous êtes l’acteur principal de votre évolution et de votre <span class="nowrap">« guérison ».</span> Rappelez vous aussi que la guérison est souvent un processus et demande un cheminement pour changer, parfois, certaines de nos habitudes nocives pour l’harmonie et la santé.
        </p>
        <p>
            <i>Les séances qui couplent l’énergétique et le magnétisme ne se substituent en aucun cas aux traitements médicaux et s'inscrivent dans une complémentarité avec ceux-ci. Bien entendu, je ne pose aucun diagnostic médical et c’est votre médecin qui gère vos traitements <strong>avec vous.</strong></i>
        </p>  
    </div>
    
    <div class="bloc">
        <h4 id="soins-qui">Pour <span class="nowrap">qui ?</span></h4>
        
        <p>
            Les soins énergétiques ne présentent pas de contre-<span class="nowrap">indications :</span> ils peuvent être réalisés à tous âges (personnes âgées, les femmes enceintes comme chez les nourrissons) quelques soient les antécédents, la maladie et le traitement en cours. Une thérapeute énergéticienne travaille avec ses connaissances, son ressenti, son cœur et ses mains. Elle est une aide complémentaire pour stimuler les aptitudes naturelles d’auto-guérison corps/esprit, par un transfert d’énergie. 
        </p>
        <p>
            Selon l’importance et l’ancienneté des maux à traiter, plusieurs séances peuvent s’avérer nécessaires.
        </p>
        <p>
            Un soin convient notamment pour les personnes qui ont <span class="nowrap">besoin :</span>
            <ul class="space-list">
                <li>D’un soutien énergétique et moral en cas de fatigue chronique que ce soit physique ou psychologique,</li>
                <li>D’une aide afin de mieux gérer le stress et l’angoisse (examen, concours, compétition, accouchement…)</li>
                <li>D’un accompagnement dans les moments difficiles pour surmonter une épreuve (deuil, divorce, licenciement, maladie…)</li>
                <li>D’un apaisement physique pour ceux qui ressentent des douleurs récurrentes et des troubles divers.</li>
                <li>D’un travail sur des scénarios de vie répétitifs,</li>
                <li>D’une libération émotionnelle, souvent responsable de malaises et souffrances enracinés,</li>
                <li>D’une libération des mémoires de la lignée,</li>
                <li>D'éliminer les liens d’attachements toxiques avec des personnes ou des lieux,</li>
                <li>De retrouver l’énergie et l’ancrage dans votre vie.</li>
            </ul>
            <strong>Ils relancent toujours l’Énergie Vitale du patient.</strong>
        </p>
    </div>
    
    <div class="bloc">
        <h4 id="soins-bienfaits">Les bienfaits</h4>

        <div id="benefices-tree" class="center">
            <img src="{{ asset('img/tree-energy.png') }}" alt="Arbres des bienfaits des soins énergétiques">
        </div>

        <p>
            <strong>Une à trois séances</strong> sont en général suffisantes. Un travail sur plusieurs séances (de 3 à 10 séances selon les cas) vous aidera à réparer les traumatismes anciens. <strong>Vous êtes invités à vous exprimer pour libérer le passé et les chocs vécus et vous ouvrir au présent dans un nouvel état d’être.</strong>
        </p>
        <p>
            Un soin énergétique ne fait pas appel à notre mental et à notre intellect. Il opère à un autre plan purement vibratoire et cependant très actif. Il agit toujours en fonction des besoins du <span class="nowrap">patient :</span> ni trop, ni trop peu, car la personne "absorbe" uniquement l'énergie dont elle a besoin.
        </p>
    </div>
    
    <div class="bloc">
        <h4 id="soins-infos">Informations pratiques et tarifs</h4>
        
        <p>
            <strong>Une séance de soins peut se réaliser de plusieurs <span class="nowrap">façons :</span></strong>
        </p>
        <ul class="space-list">
            <li>
                <span class="underline">Au cabinet</span>, <span class="nowrap">50 minutes :</span> <strong><span class="nowrap">50 euros</span></strong>.</strong><br>
                Pour la 1ère séance, compter 1H. Séance enfant (30 à 40 <span class="nowrap">minutes)</span> : <span class="nowrap">35 euros</span> 
            </li>
            
    <span style="display:inline-block;margin-top:10px;" class="nowrap">Adresse :</span> <span class="nowrap">37 rue Johann Strauss,</span> <span class="nowrap">34690 Fabrègues.</span>
            <iframe id="map-37rue" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2891.2799089503787!2d3.783980415702901!3d43.55905026653145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6b261a492ec1f%3A0xb18b41b86d107!2s37+Rue+Johann+Strauss%2C+34690+Fabr%C3%A8gues!5e0!3m2!1sfr!2sfr!4v1477407310676" frameborder="0" style="border:0" allowfullscreen></iframe>

            <br>
            <li>
                <span class="nowrap underline">À domicile :</span>
                <ul>
                    <li>pour les personnes malades ou ayant des difficultés, je peux me déplacer.</li>
                    <li>Forfait déplacement en <span class="nowrap">sus :</span> <span class="nowrap">10 euros</span> (villages autour de Fabrègues uniquement dans un rayon de <span class="nowrap">10 kms</span> maximum)</li>
                </ul> 
            </li>
            <br>
            <p>
                Toute séance annulée moins de 24H à l'avance est due. Règlement par chèque ou espèces.
            </p>
            <br>
            <li>
                <span class="underline">À distance</span> ou par webcam <span class="nowrap">(Skype) :</span><br>
                <p>
                    L'énergie n'ayant aucune limite dans le temps et dans l'espace, ces séances peuvent se faire à distance. J’ai besoin dans ce cas de votre photo, de votre nom et prénom ainsi que de votre adresse pour me relier à vous.
                </p>
                
                <h6>Procédure <span class="nowrap">skype :</span></h6>
                <p>
                    <img style="float:left;margin-right:10px;" width="65" src="{{ asset('img/logo-skype.png') }}" alt="Logo Skype">
                    Après un premier contact <strong>par téléphone ou par mail</strong>, nous fixons un rendez-vous sur skype.<br>
                    Il est recommandé d'<strong>être au calme</strong> pour votre séance. Il n'y a pas d'échanges entre nous durant le soin. Par contre, nous nous contactons à la fin pour partager.<br>
                    Après la séance, il est recommandé de <strong>boire davantage d'eau</strong> pour aider à évacuer les toxines libérées et faciliter l'intégration du soin.
                </p>

                <p>
                    Vous pouvez ici commander vos séances :
                </p>

                <div class="center paypal">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="2JT6R4T4J2U4Y">
                        <table>
                            <tr><td><input type="hidden" name="on0" value="Nombre de seances">Nombre de séances</td></tr><tr><td><select name="os0">
                                        <option value="1 seance">1 séance 50,00 €</option>
                                        <option value="2 seances">2 séances 90,00 €</option>
                                        <option value="3 seances">3 séances 130,00 €</option>
                                    </select> </td></tr>
                        </table>
                        <input type="hidden" name="currency_code" value="EUR">
                        <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
                        <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>

            </li>
        </ul>
    </div>
    
    <div class="bloc">
        <p class="citation">
            « En faisant scintiller notre propre lumière nous offrons aux autres la possibilité d’en faire <span class="nowrap">autant. »</span> <span class="nowrap">Nelson Mandela</span>
        </p>
    </div>
    
{% endblock %}
