{% extends "::structure.html.twig" %}

{% block metaTitle %}Soins énergétiques - Aurathérapie et magnétisme{% endblock %}
{% block metaDescription %}{% endblock %}
{% block activeSideMenuSoinsEnergetiques %}class="activeSousMenu"{% endblock %}
{% block activeSideMenuSoinsEnergetiquesTherapies %}class="activeMenu"{% endblock %}
{% block activeMenuSoinsEnergetiques %}class="activeSousMenu"{% endblock %}
{% block activeMenuSoinsEnergetiquesTherapies %}class="activeMenu"{% endblock %}

{% block main %}
    <div class="bloc">
        <h2>Aurathérapie et magnétisme</h2>
        
        <p>
            <a href="#soins-deroulement">&#x27A5; Déroulement d'une séance</a><br>
            <a href="#soins-qui">&#x27A5; Pour <span class="nowrap">qui ?</span></a><br>
            <a href="#soins-bienfaits">&#x27A5; Les bienfaits</a><br>
            <a href="#soins-infos">&#x27A5; Informations pratiques et tarifs</a><br>
        </p>
    </div>
    
    <div class="bloc">
        <h4 id="soins-deroulement">Déroulement d'une séance</span></h4>
        
        <ul>
            <li>Un temps de dialogue qui permet de préciser votre état actuel et vos besoins,</li>
            <li>Le soin lui-même où vous pouvez simplement vous détendre et être présent à vos ressentis intérieurs tout en laissant faire l’énergie et en accueillant ce qui vient,</li>
            <li>Un temps d'expression libre afin de favoriser l'intégration de votre vécu.</li>
        </ul>
 
        <p>
            Une séance se passe en individuel et dure environ 50 minutes. Concrètement, le patient est allongé, habillé, sur la table de massage. Tenue confortable libre.
        </p>
        <p>
            Dans un premier temps, je vous invite à respirer amplement pour vider le mental et vous ouvrir à recevoir le meilleur.
        </p>
        <p>
            Ensuite, j’effectue un nettoyage énergétique de tous vos corps avec le <span class="nowrap">« smodging »</span> (sauge que je fais brûler avec une prière et que je passe au dessus de votre corps).<br>
            Puis, je réalise les soins énergétiques <span class="nowrap">appropriés :</span> test de vos chakras et scan de votre aura. Réparation avec la Lumière.<br>
            Une fois le soin fini, je finalise en imposant mes mains et nous prenons un temps pour partager ensemble.
        </p>
        <p>
            Rappel <span class="nowrap">important :</span> Toute démarche de soin et d’exploration intérieure nécessite la motivation <strong>d'une personne volontaire et engagée</strong> pour atteindre son objectif de mieux-être ou de développement. Notre travail se fait donc en <strong>alliance</strong> pour avancer ensembles. Vous êtes l’acteur principal de votre évolution et de votre guérison. N’oubliez pas que la guérison est souvent un processus et demande un cheminement pour changer, parfois, certaines de nos habitudes nocives pour l’harmonie et la santé.
        </p>
        <p>
            <i>Les séances qui couplent l’énergétique et le magnétisme ne se substituent en aucun cas aux traitements médicaux et s'inscrivent dans une complémentarité avec ceux-ci. Bien entendu, je ne pose aucun diagnostic médical et c’est votre médecin qui gère vos traitements avec vous.</i>
        </p>  
    </div>
    
    <div class="bloc">
        <h4 id="soins-qui">Pour <span class="nowrap">qui ?</span></h4>
        
        <p>
            Les soins énergétiques ne présentent pas de contre-<span class="nowrap">indications :</span> ils peuvent être réalisés à tous âges (personnes âgées, les femmes enceintes comme chez les nourrissons) quelques soient les antécédents, la maladie et les traitements en cours. Ils ne se substituent pas à un suivi médical approprié. N'arrêtez jamais un traitement sans en avoir parlé à votre médecin. Une thérapeute énergéticienne travaille avec ses connaissances,  son ressenti, son cœur et ses mains. Elle est une aide complémentaire pour stimuler les aptitudes naturelles d’auto-guérison corps/esprit, par un transfert d’énergie. De la même manière, les soins ne remplacent pas un accompagnement en thérapie, lorsqu’il s’avère nécessaire.
        </p>
        <p>
            
        </p>
            Selon l’importance et l’ancienneté des maux à traiter, plusieurs séances peuvent s’avérer nécessaires.
        <p>
            Ils visent à vous redonner vitalité, bien-être et santé, ils conviennent notamment pour les personnes qui ont <span class="nowrap">besoin :</span>
            <ul class="space-list">
                <li>D’un soutien énergétique et moral en cas de fatigue chronique que ce soit physique ou psychologique,</li>
                <li>D’une aide afin de mieux gérer le stress et l’angoisse (examen, concours, compétition, accouchement…)</li>
                <li>D’un accompagnement dans les moments difficiles pour surmonter une épreuve (deuil, divorce, licenciement, maladie…)</li>
                <li>D’un apaisement physique pour ceux qui ressentent des douleurs récurrentes et des troubles divers.</li>
                <li>D’un travail sur des scénarios de vie répétitifs,</li>
                <li>D’une libération émotionnelle, souvent responsable de malaises et souffrances enracinés,</li>
                <li>D’un travail de libération des mémoires de la lignée,</li>
                <li>D'éliminer les liens d’attachements toxiques avec des personnes ou des lieux,</li>
                <li>De retrouver l’énergie et l’ancrage dans votre vie.</li>
            </ul>
            <strong>Ils relancent toujours l’Énergie Vitale du patient.</strong>
        </p>
    </div>
    
    <div class="bloc">
        <h4 id="soins-bienfaits">Les bienfaits</span></h4>

        <div id="benefices-tree" class="center">
            <img src="{{ asset('img/tree-energy.png') }}" alt="Arbres des bienfaits des soins énergétiques">
        </div>

        <p>
            De <strong>une à trois séances</strong> sont en général suffisantes. Un travail sur plusieurs séances (de 3 à 10 séances selon les cas) vous aidera à réparer les traumatismes anciens. <strong>Vous êtes invités à vous exprimer pour libérer le passé et les chocs vécus et vous ouvrir au présent dans un nouvel état d’être.</strong>
        </p>
        <p>
            Un soin énergétique ne fait pas appel à notre mental et à notre intellect. Il opère à un autre plan purement vibratoire et cependant très actif. Il agit toujours en fonction des besoins du <span class="nowrap">patient :</span> ni trop, ni trop peu, car la personne "absorbe" uniquement l'énergie dont elle a besoin.
        </p>
    </div>
    
    <div class="bloc">
        <h4 id="soins-infos">Informations pratiques et tarifs</h4>
        
        <p>
            <strong>Une séance de soins peut se réaliser de plusieurs <span class="nowrap">façons :</span></strong>
        </p>
        <ul class="space-list">
            <li>
                <span class="underline">Au cabinet</span>, <span class="nowrap">50 minutes :</span> <strong><span class="nowrap">50 euros</span></strong>.</strong><br>
                Pour la 1ère séance, compter 1H. Séance enfant (30 à 40 <span class="nowrap">minutes)</span> : <span class="nowrap">35 euros</span> 
            </li>
            
    <span style="display:inline-block;margin-top:10px;" class="nowrap">Adresse :</span> <span class="nowrap">37 rue Johann Strauss,</span> <span class="nowrap">34690 Fabrègues.</span>
            <iframe id="map-37rue" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2891.2799089503787!2d3.783980415702901!3d43.55905026653145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6b261a492ec1f%3A0xb18b41b86d107!2s37+Rue+Johann+Strauss%2C+34690+Fabr%C3%A8gues!5e0!3m2!1sfr!2sfr!4v1477407310676" frameborder="0" style="border:0" allowfullscreen></iframe>

            <br>
            <li>
                <span class="nowrap underline">À domicile :</span>
                <ul>
                    <li>pour les personnes malades ou ayant des difficultés, je peux me déplacer et faire le soin à votre domicile. Il faudra un espace pour vous allonger éventuellement (canapé) et ne pas être dérangé le temps de la séance.</li>
                    <li>Forfait déplacement en <span class="nowrap">sus :</span> <span class="nowrap">10 euros</span> (villages autour de Fabrègues uniquement dans un rayon de <span class="nowrap">10 kms</span> maximum)</li>
                </ul> 
            </li>
            <br>
            <li>
                <span class="underline">À distance</span> ou par webcam <span class="nowrap">(Skype) :</span><br>
                <p>
                    L'énergie n'ayant aucune limite dans le temps et dans l'espace, ces séances peuvent se faire à distance. J’ai besoin dans ce cas de votre photo, de votre nom et prénom ainsi que de votre adresse pour me relier à vous.
                </p>
                
                <h6>Procédure <span class="nowrap">skype :</span></h6>
                <p>
                    <img style="float:left;margin-right:10px;" width="65" src="{{ asset('img/logo-skype.png') }}" alt="Logo Skype">
                    Après un premier contact par téléphone <strong>ou par mail</strong>, nous fixons un rendez-vous sur skype. Avant celui-ci, vérifiez que vous avez bien installé Skype sur votre ordinateur. Pensez également à brancher votre webcam et un micro. Le jour dit, vous n’aurez plus qu’à vous connecter.<br>
                    Il est recommandé d'<strong>être au calme</strong> pour votre séance. Il n'y a pas d'échanges entre nous durant le soin lui-même. Par contre,  nous nous contactons à la fin de celui-ci pour partager vos ressentis et les miens.<br>
                    Après la séance, il est recommandé de <strong>boire davantage d'eau</strong> que d'habitude, pour aider à évacuer les toxines libérées et faciliter l'intégration du soin.
                </p>
                <div class="center">
                    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="JVTF24EQ8QS4U">
                        <input type="image" src="https://www.sandbox.paypal.com/fr_FR/FR/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
                        <img alt="" border="0" src="https://www.sandbox.paypal.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div> 
            </li>
        </ul>
        <br>
        <p>
            Toute séance annulée moins de 24H à l'avance est due. Règlement par chèque ou espèces.
        </p>
    </div>
    
{% endblock %}
