{% extends "::structure.html.twig" %}

{% block metaTitle %}Sophrologie - Séances de groupe{% endblock %}
{% block metaDescription %}{% endblock %}
{% block activeSideMenuSophrologie %}class="activeSousMenu"{% endblock %}
{% block activeSideMenuSophrologieGroupe %}class="activeMenu"{% endblock %}
{% block activeMenuSophrologie %}class="activeSousMenu"{% endblock %}
{% block activeMenuSophrologieGroupe %}class="activeMenu"{% endblock %}

{% block main %}    
    <div class="bloc">
        <h2>Les séances en groupe hebdomadaire</h2>
        
        <p>
            La sophrologie se prête parfaitement à une pratique en groupe. La dynamique du groupe, les échanges, le partage du vécu des exercices sont autant de moyens d'enrichir et d'accélérer son propre cheminement.
        </p>
        <p>
            Vous pratiquez de manière hebdomadaire (hors vacances scolaires). J’anime en Maison pour Tous et dans les clubs Age d’Or à Montpellier en partenariat avec le CCAS.
        </p>
        <p>
            <a href="#planningMTP">&#x27A5; Accès direct au planning Maison pour Tous</a><br>
            <a href="#planningAgeOr">&#x27A5; Accès direct au planning Âge d'or</a>
        </p>
    </div>
    
    <div class="bloc">
        <h4>Les thèmes abordés en un an</h4>
        
        <ul id="themes">
            <li>
                <div style="color:#baa1c1;">
                    <div id="list-color-rectangle-1"></div>
                    GESTION DU STRESS, SE RELAXER :  
                </div>
                <ul>
                    <li>Connaître les formes du stress, différencier « bon stress » et « mauvais stress »,</li>
                    <li>Apprendre à retrouver la détente naturelle que nous portons en nous,</li>
                    <li>Utiliser sa respiration en conscience pour se relaxer et évacuer,</li>
                    <li>Changer son discours intérieur,</li>
                    <li>Le corps et la somatisation : écouter son corps, redécouverte des sensations,</li>
                    <li>Le corps et les sens, se relier,</li>
                    <li>Accepter ce que l’on ne peut pas changer, 4 étapes pour gérer le stress,</li>
                    <li>La relaxation dynamique du 1 degré, à l'écoute de son corps et de ses sensations,</li>
                    <li>Choisir où mettre son énergie entre passé, présent et futur.</li>
                </ul>
            </li>
            <br>
            <li>
                <div style="color:#e3bf6b;">
                    <div id="list-color-rectangle-2"></div>
                    GESTION DES EMOTIONS :  
                </div>
                <ul>
                    <li>Qu’est-ce qu’une émotion ?</li>
                    <li>Nos émotions en tant que signal ("émotions amies"),</li>
                    <li>Découvrir les contextes des principales émotions,</li>
                    <li>Apprendre à les conscientiser et les utiliser pour mener sa vie : colère, peur, frustration, tristesse, joie, culpabilité, sentiment de déprime : découverte des messages de ces diverses émotions,</li>
                    <li>Développer l'affirmation de soi dans le respect des autres,</li>
                    <li>La relaxation dynamique du 2ème degré, un outil pour se voir fonctionner.</li>
                </ul>
            </li>
            <br>
            <li>
                <div style="color:#5e92c4;">
                    <div id="list-color-rectangle-3"></div>
                    CONFIANCE EN SOI :  
                </div>
                <ul>
                    <li>Définir la confiance en soi ou le manque par le vécu,</li>
                    <li>Les complexes d’infériorité, supériorité, d’échec… les connaître pour les quitter,</li>
                    <li>Les conditionnements affectifs : en sortir pour être soi-même,</li>
                    <li>Relaxation dynamique du 3ème degré : unité intérieure et unité de soi dans le monde,</li>
                    <li>Les mécanismes de défense qui nous empêchent de changer : les dépasser peu à peu,</li>
                    <li>Systèmes de motivation,</li>
                    <li>Stimuler le plaisir de changer et de gagner en autonomie pour mener sa vie en toute responsabilité,</li>
                    <li>Assumer ses propres choix.</li>
                </ul>
            </li>
            <br>
            <li>
                <div style="color:#daa2bf;">
                    <div id="list-color-rectangle-4"></div>
                    VALEURS DE VIE :  
                </div>
                <ul>
                    <li>Qu’est-ce qu’une valeur de vie ?</li>
                    <li>Nos valeurs de vie : les avons-nous choisies ou nous ont-elles été transmises ?</li>
                    <li>Découvrir nos propres valeurs,</li>
                    <li>Apprendre à les hiérarchiser au fil de notre vie selon notre parcours de vie et nos priorités personnelles,</li>
                    <li>Vivre ses valeurs au quotidien en soi et dans le monde,</li>
                    <li>Relaxation dynamique du 4ème degré,</li>
                    <li>Créer sa vie en lien avec ses valeurs.</li>
                </ul>
            </li>
        </ul>
    </div>
    
    <div class="bloc">
       <h4 id="planningMTP">Planning grand public en Maison pour Tous :</h4>
       
        <div style="overflow-x:auto;">
            <table>
                <tr>
                    <th>Jours</th>
                    <th>Heures</th>
                    <th>Maison pour Tous</th>
                    <th>Niveau</th>
                </tr>
                <tr>
                    <td>Lundi</td>
                    <td>18H30 - 19H45</td>
                    <td>Albert CAMUS</td>
                    <td>Confirmés</td>
                </tr>
                <tr>
                    <td>Lundi</td>
                    <td>20H00 - 21H15</td>
                    <td>Albert CAMUS</td>
                    <td>Confiance en soi</td>
                </tr>
                <tr>
                    <td>Lundi</td>
                    <td>17H30 - 18H45</td>
                    <td>Michel COLUCCI</td>
                    <td>Initiation</td>
                </tr>
                <tr>
                    <td>Mercredi</td>
                    <td>18H30 - 19H45</td>
                    <td>Albert DUBOUT</td>
                    <td>Initiation</td>
                </tr>
            </table>
        </div>
        
        <p>
            <strong>Tarif :</strong> 190 euros l'année plus l'adhésion à la Maison pour Tous  (7 euros pour les Montpellierains et 10 euros hors agglomération).
        </p>
        <p>
            Possibilité de régler en une ou trois fois (chèques à remettre à votre inscription).
        </p>
        <p>
            <strong>Adresses des lieux de pratique :</strong>
        </p>
        
        <div style="overflow-x:auto;">
            <table>
                <tr>
                    <th>Maison pour Tous</th>
                    <th>Quartier</th>
                    <th>Adresse</th>
                </tr>
                <tr>
                    <td>Albert CAMUS</td>
                    <td>Croix d’Argent</td>
                    <td>
                        118 allée Maurice Bonafos<br>
                        34070 MONTPELLIER 
                    </td>
                </tr>
                <tr>
                    <td>Albert DUBOUT</td>
                    <td>Aiguelongue</td>
                    <td>
                        1071 Avenue de la Justice de Castelnau<br>
                        34090 MONTPELLIER 
                    </td>
                </tr>
                <tr>
                    <td>Michel COLUCCI</td>
                    <td>Croix d’Argent</td>
                    <td>
                        205 rue Cheng Du<br>
                        34000 MONTPELLIER 
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    <div style="margin-top:20px;" class="bloc">
       <h4 id="planningAgeOr">Planning public âge d'or : 3ème âge</h4>
       
        <p>
            Les inscriptions sont gérées par le CCAS de Montpellier. Renseignez vous. Les cours débutent début octobre de chaque année.
        </p>
       
        <div style="overflow-x:auto;">
            <table>
                <tr>
                    <th>Jours</th>
                    <th>Heures</th>
                    <th>Lieu</th>
                    <th>Niveau</th>
                </tr>
                <tr>
                    <td>Lundi</td>
                    <td>9H30 - 10H30</td>
                    <td>BALMES</td>
                    <td>Initiation</td>
                </tr>
                <tr>
                    <td>Lundi</td>
                    <td>10H45 - 11H45</td>
                    <td>BALMES</td>
                    <td>Confiance en soi</td>
                </tr>
                <tr>
                    <td>Mardi</td>
                    <td>9H30 - 10H30</td>
                    <td>MAS DREVON</td>
                    <td>Initiation et intermédiaire</td>                    
                </tr>
                <tr>
                    <td>Mercredi</td>
                    <td>9H30 - 10H30</td>
                    <td>GARES</td>
                    <td>Confirmés</td>
                </tr>
                <tr>
                    <td>Vendredi</td>
                    <td>9H15 - 10H15</td>
                    <td>BALMES</td>
                    <td>Intermédiaire</td>
                </tr>
                <tr>
                    <td>Vendredi</td>
                    <td>10H45 - 11H45</td>
                    <td>BALMES</td>
                    <td>Confirmés</td>
                </tr>
            </table>
        </div>
        
        <br>
        <br>
        
        <p class="citation">
            « La méditation n'est pas une évasion, mais une rencontre sereine avec la <span class="nowrap">réalité. »</span> <span class="nowrap">Thich Nhat Hanh</span>
        </p>
    </div>
{% endblock %}
