{% extends "::structure.html.twig" %}

{% block metaTitle %}Sophrologie - Déroulement d'une séance{% endblock %}
{% block metaDescription %}{% endblock %}
{% block activeSideMenuSophrologie %}style="background-color:#f4d0b7;color:black;"{% endblock %}
{% block activeMenuSophrologie %}style="background-color:#f4d0b7;color:black;"{% endblock %}

{% block main %}
    <div class="bloc">
        
    </div>
{% endblock %}