{% extends "::structure.html.twig" %}

{% block metaTitle %}Sophrologie - Déroulement d'une séance{% endblock %}
{% block metaDescription %}{% endblock %}
{% block activeSideMenuSophrologie %}style="background-color:#f4d0b7;color:black;"{% endblock %}
{% block activeMenuSophrologie %}style="background-color:#f4d0b7;color:black;"{% endblock %}

{% block main %}
    <div class="bloc">
        <h2>Déroulement d'une séance</h2>
        <p>
            Chaque séance comporte généralement 3 parties :
            <ul>
                <li>Un temps de dialogue qui permet de préciser votre état actuel et vos objectifs et besoins. L’explication du déroulement de l’exercice sophrologique,</li>
                <li>La pratique guidée, suivie d’un temps de relâchement pour revenir tranquillement à la conscience ordinaire.</li>
                <li>Un temps d'expression libre après la pratique afin de favoriser l'intégration du vécu et des ressentis.</li>
            </ul>
        </p>
        <p>
            Posture : assise et debout, ou allongée. Tenue confortable libre.
        </p>
        <p>
            Selon l’objectif de l’accompagnement, je peux vous proposer des exercices de relaxation, de visualisation d’images positives ou des mouvements pour continuer à vous entrainer chez vous, en toute autonomie. Vous pouvez aussi enregistrer votre séance guidée pour la vivre à nouveau à la maison.
        </p>
        <p>
            Rappel important sur notre collaboration : Toute démarche de connaissance de soi et de travail intérieur nécessite la motivation d'une personne volontaire et engagée pour atteindre son objectif de mieux-être ou de développement. Notre travail se fait donc en alliance pour avancer ensembles et vous êtes l’acteur principal de votre évolution.
        </p>
    </div>
    <div class="bloc">
        <h4 style="margin-top:0;">Pour qui ?</h4>
        <p>
            Elle s’adapte à tous : adolescents, adultes, personnes âgées, entreprises, maison de retraite (personnes conscientes et valides).
        </p>
        <p>
            Pour les professionnels : entreprise, structure médicale, maison de retraite, centre de formation, club sportif...
            <ul>
                <li>Les séances se déroulent dans vos locaux. La pièce devra être calme et propice. Matériel nécessaire : tapis de sol ou chaises. Les participants doivent être volontaires pour suivre les séances. Ils apportent un coussin et une couverture.</li>
                <li>Séance individuelle ou en groupe (5 à 12 personnes)</li>
                <li>N’hésitez pas à me contacter pour un devis personnalisé</li>
            </ul>
        </p>
    </div>
    <div class="bloc">
        <h4 style="margin-top:0;">Bénéfices</h4>
        <p>
            <strong>Vous bénéficiez de :</strong>
            <ul>
                <li>l‘écoute d‘une personne extérieure, neutre et bienveillante, qui ne juge pas et sait accueillir votre parole libre et authentique,</li>
                <li>prendre un temps pour vous et être dans un lieu dédié à la recherche de forces et de solutions, de prise de conscience pour mieux agir,</li>
                <li>disposer d‘une méthode de travail qui repose sur des pratiques et protocoles qui ont fait leurs preuves depuis plus de 50 ans</li>
            </ul>
        </p>
        <br>
        <p class="citation">
            La sophrologie vous propose un cadre où vous pourrez <strong>explorer</strong> et <strong>exprimer</strong> vos émotions, vos rêves, vos sensations, vos croyances, vos idées, et cheminer pour trouver vos propres réponses et devenir <strong>davantage créateur</strong> de votre vie.
        </p>
    </div>
{% endblock %}
