{% extends "::structure.html.twig" %}

{% block metaTitle %}Sophrologie - Séances individuelles{% endblock %}
{% block metaDescription %}{% endblock %}
{% block activeSideMenuSophrologie %}style="background-color:#f4d0b7;color:black;"{% endblock %}
{% block activeMenuSophrologie %}style="background-color:#f4d0b7;color:black;"{% endblock %}

{% block main %}
    <div class="bloc">
        <h2>Déroulement d'une séance individuelle</h2>
        <p>
            Sur rendez-vous, nous traitons une problématique spécifique. C’est du sur mesure.
        </p>
        <p>
            Chaque séance comporte généralement 3 parties :
            <ul class="space-list">
                <li>Un temps de dialogue qui permet de préciser votre état actuel et vos objectifs et besoins. L’explication du déroulement de l’exercice sophrologique,</li>
                <li>La pratique guidée, suivie d’un temps de relâchement pour revenir tranquillement à la conscience ordinaire.</li>
                <li>Un temps d'expression libre après la pratique afin de favoriser l'intégration du vécu et des ressentis.</li>
            </ul>
        </p>
        <p>
            Posture : assise, debout, ou allongée. Tenue confortable libre.
        </p>
        <p>
            Selon l’objectif de l’accompagnement, je peux vous proposer des exercices de relaxation, de visualisation d’images positives ou des mouvements pour continuer à vous entrainer chez vous, en toute autonomie. Vous pouvez aussi enregistrer votre séance guidée pour la vivre à nouveau à la maison.
        </p>
        <p>
            Rappel important sur notre collaboration : Toute démarche de connaissance de soi et de travail intérieur nécessite la motivation d'une personne volontaire et engagée pour atteindre son objectif de mieux-être ou de développement. Notre travail se fait donc en alliance pour avancer ensembles et vous êtes l’acteur principal de votre évolution.
        </p>
    </div>
    
    <div class="bloc">
        <h4>Pour qui ?</h4>
        <p>
            Elle s’adapte à tous : adolescents, adultes, personnes âgées, entreprises, maison de retraite (personnes conscientes et valides).
        </p>
        <p>
            Pour les professionnels : entreprise, structure médicale, maison de retraite, centre de formation, club sportif...
            <ul class="space-list">
                <li>Les séances se déroulent dans vos locaux. La pièce devra être calme et propice. Matériel nécessaire : tapis de sol ou chaises. Les participants doivent être volontaires pour suivre les séances. Ils apportent un coussin et une couverture.</li>
                <li>Séance individuelle ou en groupe (5 à 12 personnes)</li>
                <li>N’hésitez pas à me contacter pour un devis personnalisé</li>
            </ul>
        </p>
    </div>
    
    <div class="bloc">
        <h4>Bénéfices</h4>
        <p>
            <strong>Vous bénéficiez de :</strong>
            <ul class="space-list">
                <li>l’écoute d‘une personne extérieure, neutre et bienveillante, qui ne juge pas et sait accueillir votre parole libre et authentique,</li>
                <li>prendre un temps pour vous et être dans un lieu dédié à la recherche de forces et de solutions, de prise de conscience pour mieux agir,</li>
                <li>disposer d‘une méthode de travail qui repose sur des pratiques et protocoles qui ont fait leurs preuves depuis plus de 50 ans</li>
            </ul>
        </p>
        <p>
            La sophrologie vous propose un cadre où vous pourrez <strong>explorer</strong> et <strong>exprimer</strong> vos émotions, vos rêves, vos sensations, vos croyances, vos idées, et cheminer pour trouver vos propres réponses et devenir <strong>davantage créateur</strong> de votre vie.
        </p>
    </div>
    
    <div class="bloc">
        <h4>Tarifs</h4>
        <ul class="space-list">
            <li>Séance individuelle au cabinet, 1 heure : <strong>50 euros</strong></li>
            <li>
                A domicile : 
                <ul>
                    <li>pour les personnes malades ou ayant des difficultés à se déplacer, je peux animer la séance à votre domicile. La pratique nécessite 2 sièges, un espace pour vous allonger éventuellement (canapé, tapis de sol) et de ne pas être dérangé pendant 1 heure environ.</li>
                    <li>Forfait déplacement en sus : 10 euros (villages autour de Fabrègues uniquement dans un rayon de 10 kms maximum)</li>
                </ul> 
            </li>
        </ul>
        <p>
            Selon votre complémentaire santé, la séance de sophrologie peut être prise en charge en partie ou totalité. Rapprochez-vous de votre mutuelle ou <span class="underline">consulter la liste à jour émise par la Chambre Syndicale de la Sophrologie</span> :
        </p>
        <p class="center" style="margin-bottom:30px;">
            <a class="underline" href="http://www.chambre-syndicale-sophrologie.fr/informations/mutuelle-sophrologie-sophrologue" target="_blank">http://www.chambre-syndicale-sophrologie.fr/informations/mutuelle-sophrologie-sophrologue</a>
        </p>
        <p>
            Toute séance annulée moins de 48H à l'avance est due. Le règlement peut se faire par chèque ou espèces.
        </p>
        <p>
            La fréquence des rendez vous reste au choix de chacun, généralement une fois par semaine ou tous les 15 jours. Le nombre de séances est variable selon votre objectif (gestion stress, confiance en soi…) En moyenne, de 3 à 10 séances selon le travail à effectuer. En 5 séances, vous acquérez déjà des outils pratiques pour vous détendre en toute autonomie et mieux gérer votre stress.<br>
            Envisager 6 à 10 séances pour un travail sur l’estime de soi, la confiance en soi, les valeurs de vie.
        </p>
    </div>
    
    <div class="bloc">
        <p class="citation">
            "L'âme de l'homme est semblable à l'eau<br>
            C'est du ciel qu'elle vient, c'est au ciel qu'elle monte,<br>
            Et il lui faut redescendre sur terre en un changement éternel."<br>
            <span style="display:block;margin-bottom:20px;"></span>
            L'âme et la vie - Carl Gustav Jung
        </p>
    </div>
{% endblock %}
