{% extends "::structure.html.twig" %}

{% block metaTitle %}Sophrologie - Séances en groupe{% endblock %}
{% block metaDescription %}{% endblock %}
{% block activeSideMenuSophrologie %}class="activeSousMenu"{% endblock %}
{% block activeSideMenuSophrologieGroupe %}class="activeMenu"{% endblock %}
{% block activeMenuSophrologie %}class="activeSousMenu"{% endblock %}
{% block activeMenuSophrologieGroupe %}class="activeMenu"{% endblock %}

{% block main %}    
    <div class="bloc">
        <h2>Les séances en groupe hebdomadaire</h2>
        
        <div class="center">
            <img class="image" src="{{ asset('img/seances_groupe.jpg') }}" alt="Photo de plusieurs personnes allongées">      
        </div>
        <br>
        <p>
            La sophrologie se prête parfaitement à une pratique en groupe. La dynamique du groupe, les échanges, le partage du vécu des exercices sont autant de moyens d'enrichir et d'accélérer son propre cheminement.
        </p>
        <p>
            Vous pratiquez de manière hebdomadaire (hors vacances scolaires). J’anime en <span class="nowrap">Maison pour Tous</span> et dans les clubs <span class="nowrap">Âge d’Or</span> à Montpellier en partenariat avec le CCAS.
        </p>
        <p>
            <a href="#planningMTP">&#x27A5; Accès direct au planning <span class="nowrap">Maison pour Tous</span></a><br>
            <a href="#planningAgeOr">&#x27A5; Accès direct au planning <span class="nowrap">Âge d'or</span></a>
        </p>
    </div>
    
    <div class="bloc">
        <h4>Les thèmes abordés en un an</h4>
        
        <ul id="themes">
            <li>
                <div style="color:#baa1c1;">
                    <div id="list-color-rectangle-1"></div>
                    <span>GESTION DU STRESS, SE <span class="nowrap">RELAXER :</span></span> 
                </div>
                <ul>
                    <li>Connaître les formes du stress, différencier <span class="nowrap">« bon</span> <span class="nowrap">stress »</span> et <span class="nowrap">« mauvais</span> <span class="nowrap">stress »,</span></li>
                    <li>Apprendre à retrouver la détente naturelle que nous portons en nous,</li>
                    <li>Utiliser sa respiration en conscience pour se relaxer et évacuer,</li>
                    <li>Changer son discours intérieur,</li>
                    <li>Le corps et la <span class="nowrap">somatisation :</span> écouter son corps, redécouverte des sensations,</li>
                    <li>Le corps et les sens, se relier,</li>
                    <li>Accepter ce que l’on ne peut pas changer, <span class="nowrap">4 étapes</span> pour gérer le stress,</li>
                    <li>La relaxation dynamique du <span class="nowrap">1 degré,</span> à l'écoute de son corps et de ses sensations,</li>
                    <li>Choisir où mettre son énergie entre passé, présent et futur.</li>
                </ul>
            </li>
            <br>
            <li>
                <div style="color:#d64e4d;">
                    <div id="list-color-rectangle-2"></div>
                    <span>GESTION DES <span class="nowrap">EMOTIONS :</span></span>
                </div>
                <ul>
                    <li>Qu’est-ce qu’une <span class="nowrap">émotion ?</span></li>
                    <li>Nos émotions en tant que signal ("émotions amies"),</li>
                    <li>Découvrir les contextes des principales émotions,</li>
                    <li>Apprendre à les conscientiser et les utiliser pour mener sa <span class="nowrap">vie :</span> colère, peur, frustration, tristesse, joie, culpabilité, sentiment de <span class="nowrap">déprime :</span> découverte des messages de ces diverses émotions,</li>
                    <li>Développer l'affirmation de soi dans le respect des autres,</li>
                    <li>La relaxation dynamique du <span class="nowrap">2ème degré,</span> un outil pour se voir fonctionner.</li>
                </ul>
            </li>
            <br>
            <li>
                <div style="color:#5e92c4;">
                    <div id="list-color-rectangle-3"></div>
                    <span>CONFIANCE EN <span class="nowrap">SOI :</span></span>  
                </div>
                <ul>
                    <li>Définir la confiance en soi ou le manque par le vécu,</li>
                    <li>Les complexes d’infériorité, supériorité, d’échec… les connaître pour les quitter,</li>
                    <li>Les conditionnements <span class="nowrap">affectifs :</span> en sortir pour être soi-même,</li>
                    <li>Relaxation dynamique du 3ème <span class="nowrap">degré :</span> unité intérieure et unité de soi dans le monde,</li>
                    <li>Les mécanismes de défense qui nous empêchent de <span class="nowrap">changer :</span> les dépasser peu à peu,</li>
                    <li>Systèmes de motivation,</li>
                    <li>Stimuler le plaisir de changer et de gagner en autonomie pour mener sa vie en toute responsabilité,</li>
                    <li>Assumer ses propres choix.</li>
                </ul>
            </li>
            <br>
            <li>
                <div style="color:#d072a2;">
                    <div id="list-color-rectangle-4"></div>
                    <span>VALEURS DE <span class="nowrap">VIE :</span></span>
                </div>
                <ul>
                    <li>Qu’est-ce qu’une valeur de <span class="nowrap">vie ?</span></li>
                    <li>Nos valeurs de <span class="nowrap">vie :</span> les avons-nous choisies ou nous ont-elles été <span class="nowrap">transmises ?</span></li>
                    <li>Découvrir nos propres valeurs,</li>
                    <li>Apprendre à les hiérarchiser au fil de notre vie selon notre parcours de vie et nos priorités personnelles,</li>
                    <li>Vivre ses valeurs au quotidien en soi et dans le monde,</li>
                    <li>Relaxation dynamique du <span class="nowrap">4ème degré,</span></li>
                    <li>Créer sa vie en lien avec ses valeurs.</li>
                </ul>
            </li>
        </ul>
    </div>
    
    <div class="bloc">
        <h4 id="planningMTP">Planning grand public en <span class="nowrap">Maison pour Tous :</span></h4>
       
        <div style="overflow-x:auto;">
            <table>
                <tr>
                    <th>Jours</th>
                    <th>Heures</th>
                    <th>Maison pour Tous</th>
                    <th>Niveau</th>
                </tr>
                <tr>
                    <td>Lundi</td>
                    <td>18H30 - 19H45</td>
                    <td>Albert CAMUS</td>
                    <td>Confirmés</td>
                </tr>
                <tr>
                    <td>Lundi</td>
                    <td>20H00 - 21H15</td>
                    <td>Albert CAMUS</td>
                    <td>Confiance en soi</td>
                </tr>
                <tr>
                    <td>Lundi</td>
                    <td>17H30 - 18H45</td>
                    <td>Michel COLUCCI</td>
                    <td>Initiation</td>
                </tr>
                <tr>
                    <td>Mercredi</td>
                    <td>18H30 - 19H45</td>
                    <td>Albert DUBOUT</td>
                    <td>Initiation</td>
                </tr>
            </table>
        </div>
        
        <p>
            <strong>Tarif :</strong> <span class="nowrap">190 euros</span> l'année plus l'adhésion à la <span class="nowrap">Maison pour Tous</span>  <span class="nowrap">(7 euros</span> pour les Montpellierains et <span class="nowrap">10 euros</span> hors agglomération).
        </p>
        <p>
            Possibilité de régler en une ou trois fois (chèques à remettre à votre inscription).
        </p>
        <p>
            <strong>Adresses des lieux de <span class="nowrap">pratique :</span></strong>
        </p>
        
        <div style="overflow-x:auto;">
            <table>
                <tr>
                    <th>Maison pour Tous</th>
                    <th>Quartier</th>
                    <th>Adresse</th>
                </tr>
                <tr>
                    <td>Albert CAMUS</td>
                    <td>Croix d’Argent</td>
                    <td>
                        <a href="https://www.google.fr/maps/place/118+All%C3%A9e+Maurice+Bonafos,+34070+Montpellier/@43.596629,3.8676199,17z/data=!3m1!4b1!4m5!3m4!1s0x12b6afb3f103efa9:0x7fc96071eba7934a!8m2!3d43.596629!4d3.8698086" target="_blank" title="Aller sur Google Map">
                            118 allée Maurice Bonafos<br>
                            34070 MONTPELLIER
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Albert DUBOUT</td>
                    <td>Aiguelongue</td>
                    <td>
                        <a href="https://www.google.fr/maps/place/1071+Avenue+de+la+Justice+de+Castelnau,+34090+Montpellier/@43.6263281,3.8803228,17z/data=!3m1!4b1!4m5!3m4!1s0x12b6af14458871e3:0xfc3ef0e10579d703!8m2!3d43.6263281!4d3.8825115" target="_blank" title="Aller sur Google Map">
                            1071 Avenue de la Justice de Castelnau<br>
                            34090 MONTPELLIER 
                        </a>     
                    </td>
                </tr>
                <tr>
                    <td>Michel COLUCCI</td>
                    <td>Croix d’Argent</td>
                    <td>
                        <a href="https://www.google.fr/maps/place/205+Rue+Cheng+du,+34070+Montpellier/@43.5936492,3.838303,17z/data=!3m1!4b1!4m5!3m4!1s0x12b6ae6b676a3277:0x93bfbf33494ad8af!8m2!3d43.5936492!4d3.8404917" target="_blank" title="Aller sur Google Map">
                            205 rue Cheng Du<br>
                            34000 MONTPELLIER 
                        </a>    
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    <div style="margin-top:20px;" class="bloc">
        <h4 id="planningAgeOr">Planning public <span class="nowrap">âge d'or :</span> <span class="nowrap">3ème âge</span></h4>
       
        <p>
            Les inscriptions sont gérées par le <a href="http://www.montpellier.fr/273-le-centre-communal-d-action-sociale-ccas-.htm" target="_blank" title="Aller sur le site du CCAS de Montpellier">CCAS de Montpellier</a>. Renseignez vous. Les cours débutent début octobre de chaque année.
        </p>
       
        <div style="overflow-x:auto;">
            <table>
                <tr>
                    <th>Jours</th>
                    <th>Heures</th>
                    <th>Lieu</th>
                    <th>Niveau</th>
                </tr>
                <tr>
                    <td>Lundi</td>
                    <td>9H30 - 10H30</td>
                    <td>BALMES</td>
                    <td>Initiation</td>
                </tr>
                <tr>
                    <td>Lundi</td>
                    <td>10H45 - 11H45</td>
                    <td>BALMES</td>
                    <td>Confiance en soi</td>
                </tr>
                <tr>
                    <td>Mardi</td>
                    <td>9H30 - 10H30</td>
                    <td>MAS DREVON</td>
                    <td>Initiation et intermédiaire</td>                    
                </tr>
                <tr>
                    <td>Mercredi</td>
                    <td>9H30 - 10H30</td>
                    <td>GARES</td>
                    <td>Confirmés</td>
                </tr>
                <tr>
                    <td>Vendredi</td>
                    <td>9H15 - 10H15</td>
                    <td>BALMES</td>
                    <td>Intermédiaire</td>
                </tr>
                <tr>
                    <td>Vendredi</td>
                    <td>10H45 - 11H45</td>
                    <td>BALMES</td>
                    <td>Confirmés</td>
                </tr>
            </table>
        </div>
        
        <br>
        <br>
        
        <p class="citation">
            <span class="nowrap">« La</span> méditation n'est pas une évasion, mais une rencontre sereine avec la <span class="nowrap">réalité. »</span> <span class="nowrap">Thich Nhat Hanh</span>
        </p>
    </div>
{% endblock %}
