<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block metaTitle %}Nicole CANIVENQ{% endblock %}</title>
    <meta name="description" content="{% block metaDescription %}{% endblock %}"> 
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css">
    {% endblock %}
    
    <!-- Google Analytics -->
    <script>
    </script>
</head>

<body>
<div id="body-content">
    <header></header>
    <nav></nav>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <footer></footer>
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
