.form-group {
    margin-bottom: 20px;
}

.form-label {
    margin-bottom: 5px;
    color: #9b6741;
}

.form-widget {
    width: 100%;
    height: 2.2em;
    padding: 2px 0 0 10px;
    font-size: 1em;
    font-family: 'Quattrocento', serif;
    color: #383838;
    font-size: 18px;
    line-height: 1.3;
    box-sizing: border-box;
    border: 1px solid #d4bba2;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.form-widget:focus {
    box-shadow: 0 0 5px #c9a27b;
}

.form-widget-checkbox {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 20px;
}

.form-widget-checkbox input {
    margin-right: 8px;
}

.form-widget-checkbox label {
    margin-right: 50px;
}

.form-column-2 {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
}

.form-column-2 > div {
    width: 48%; 
}

@media all and (max-width: 600px) {
    .form-column-2 {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    
    .form-column-2 > div {
        width: 100%; 
    }
}

.form-field textarea {
    height: 200px;
    resize: vertical;
    padding-top: 10px;
}

form button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

form li {
    color: #db5552;
    list-style: none;
    font-size: smaller;
}

label.error {
    color: #db5552;
    display: block;
    font-size: smaller;
    margin-top: 10px;
}

.form-widget.error {
    box-shadow: 0 0 5px #db5552;
}

form ul {
    padding: 0;
    margin: 10px 0;
}