* {
    outline: none;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

body {
    font-family: 'Quattrocento', serif;
    margin: 0;
    padding: 0;
    color: #9b6741;
    font-size: 18px;
    line-height: 1.3;
    overflow-x: hidden;
}

#body-content {
    -webkit-transition: margin 0.5s ease-in-out;
    transition: margin 0.5s ease-in-out;
    background-color: #fffbe3;
}

#cover {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -1;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.alert {
    padding: 4px 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    color: #835711;
}

h2 {
    color: #9bbb59;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    margin-top: 0;
    text-align: center;
}

h4 {
    color: #f8a51e;
    border-bottom: 1px solid #f8a51e;
    font-family: 'Indie Flower', cursive;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 30px;
}

h5 {
    text-decoration: underline;
    font-size: 1em;
    margin-bottom: 15px;  
}

h6 {
    font-size: 1em;
    margin: 20px 0;
}

.justify {
    text-align: justify;
}

a {
    text-decoration: none;
    color: #e08810;
    font-weight: bold;
    word-wrap: break-word;
}

a:hover {
    color: #cc6a24!important;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.nowrap {
    white-space: nowrap;
}

.image {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
}

.image-400 {
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
}

.image-240 {
    max-width: 240px;
    width: 100%;
    border-radius: 10px;
}

.button, form button {
    display: inline-block;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    -webkit-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
    background-color: #94bc77;
    color: #ffffff;
    font-weight: normal;
}

.button:hover, form button:hover {
    background-color: #C0DEAA;
    color: #314e24!important;
}

.button-add {
    display: inline-block;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    -webkit-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
    background-color: transparent;
    color: #f8a51e;
    border: 1px solid #f8a51e;
}

.button-add:hover {
    background-color: #fff8d2;
    color: #d97a36!important;
    border-color: #d97a36;
}

header {
    width: 100%;
    height: 270px;
    background-image: url(../img/header_large.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media all and (max-width: 1296px) {
    header {
        background-image: url(../img/header_medium.jpg);
    }
}

@media all and (max-width: 650px) {
    header {
        background-image: url(../img/header_small.jpg);
    }
}

#header-content-small-screen {
    display: none;
}

#header-content {
    width: 90%;
    height: 100%;
    margin: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
}

#header-logo, #header-logo-small-screen {
    width: 25%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    font-family: 'gartonmedium', serif;
    font-size: 35px;
    color: #447745;
}

#header-title {
    width: 50%;
    text-align: center;
    padding: 8px 0 0 0;
    background-color: rgba(240, 248, 255, 0.6);
    border-radius: 100%;
}

#header-contact, #header-contact-small-screen {
    width: 25%;
    text-align: right;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

#header-contact p:first-child {
    font-size: 1.2em;
}

.fb-like {
    height: 23.4px;
}

@media all and (max-width: 1150px) {
    header {
        font-size: 90%;
    }

    #header-content {
        width: 95%;
        height: 100%;
    }

    #header-logo {
        font-size: 26px;
    }
    
    #header-logo img {
        width: 130px!important;
    }

    h1 {
        font-size: 35px;
    }
}

@media all and (max-width: 1000px) {
    #header-logo {
        display: none;
    }
    
    #header-contact {
        display: none;
    }
    
    #header-content {
        width: 80%;
    }
    
    #header-title {
        width: 100%;
        padding: 20px 10px 0 10px;
    }
    
    h1 {
        font-size: 40px;
    }
    
    #content {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    
    #main, #aside {
        width: 100%!important;
    }
    
    #header-content-small-screen {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        margin: auto;
        margin-top: 40px;
        width: 85%;
    }
    
    #header-logo-small-screen {
        width: 50%;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }
    
    #header-logo-small-screen div {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
    }
    
    #header-logo-small-screen img {
        width: 130px!important;
    }

    #header-contact-small-screen {
        width: 50%;
    }
    
    #header-contact-small-screen p:first-child {
        margin-top: 0;
    }
}

@media all and (max-width: 700px) {
    #header-content-small-screen {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    
    #header-logo-small-screen {
        width: 100%;
        -webkit-align-items: center;
        align-items: center;
    }
    
    #header-logo-small-screen div {
        -webkit-justify-content: center;
        justify-content: center;
    }
    
    #header-contact-small-screen {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    
    #header-contact-small-screen p:first-child {
        margin-bottom: 0;
    }
}

@media all and (max-width: 550px) {
    #header-content {
        width: 90%;
    }
    
    #header-title {
        width: 100%;
        padding: 20px 20px 20px 20px;
    }
    
    h1 {
        font-size: 30px;
    }
}

@media all and (max-width: 350px) {
    #header-logo-small-screen div {
        font-size: 30px;
    } 
}

.activeMenu {
    background-color: #f4d0b7;
    color: #cc6a24!important;
}

.activeSousMenu {
    background-color: #f4d0b7;
    color: #c18a63!important;
}

nav {
    width: 100%;
    height: 48px;
    background-color: #c6875a;
    margin: auto;
    font-size: 17px;
}

#side-menu {
    width: 0px;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: #c6875a;
    overflow-x: hidden;
    font-family: arial;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    color: white;
    font-size: 17px;
}

#side-menu .glyphicon:hover {
    color: #cc6a24!important;
}

#side-menu li {
    list-style: none;
    white-space: nowrap;
    position: relative;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

#side-menu ul {
    padding : 0;
}

#side-menu ul a {
    display: block;
    padding: 14px 20px;
    color: white;
    font-weight: normal;
}

#side-menu ul span {
    position: absolute;
    left: 220px;
    top: 0;
    font-size: 1.3em;
    padding: 14px 18px;
    color: white;
    cursor: pointer;
}

#side-menu ul span:hover {
}

#side-menu li:hover {
    background-color: #f4d0b7;
}

#side-menu ul li {
    background-color: #c6875a;
    border-bottom: 1px solid #f4d0b7;
}

#side-menu li:first-child {
    border-top: 1px solid #f4d0b7;
}

#side-menu ul ul li {
    border: none!important;
}

#side-menu li ul li:hover {
    background-color: #f4d0b7;
}

#side-menu ul ul a {
    padding-left: 35px;
}

#side-menu-expand-sophrologie, #side-menu-expand-soins-energetiques, #side-menu-expand-qui-suis-je, #side-menu-expand-bibliographie {
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}

#side-menu-glyphicon-down-sophrologie, #side-menu-glyphicon-down-soins-energetiques, #side-menu-glyphicon-down-qui-suis-je, #side-menu-glyphicon-down-bibliographie {
    display: none;
}

#side-menu-deroulant  {
    margin-top: 80px;
}

#side-menu-button {
    display: none;
}

#side-menu .closebtn {
    color: white;
    float: right;
    margin: 10px 20px;
    font-size: 1.4em;
}

@media all and (max-width: 1000px) {
    #menu-deroulant {
        display: none;
    }
    
    #side-menu-button {
        display: -webkit-flex;
        display: flex;
        width: 120px;
        height: 100%;
        -webkit-align-items: center;
        align-items: center;
        padding-left: 30px;
        padding-right: 10px;
        color: white;
        font-family: arial;
        font-size: 22px;
        cursor: pointer;  
    }
    
    #side-menu-button i {
        margin-right: 10px;
    }
}

#menu-deroulant, #menu-deroulant > ul {
    height: 100%;
}

#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

#menu-deroulant li {
    display: inline-block;
    position: relative;
    height: 100%;
    margin: 0 -3px;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#menu-deroulant li:hover {
    background-color: #f4d0b7;
}

#menu-deroulant ul li {
    display: inherit;
}

#menu-deroulant ul{
    position: absolute;
    z-index: 1000;
    max-height: 0;
    left: 0;
    right: 0;
    background-color: rgba(198, 135, 90, 0.95);
    overflow: hidden;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

#menu-deroulant li:hover ul {
    max-height: 20em;
}

#menu-deroulant li:hover ul li:last-child, #menu-deroulant li ul {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#menu-deroulant > li > a {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

#menu-deroulant a {
    display: block;
    padding: 0 32px;
    color: #fff;
    font-family: arial;
    height: 100%;
    font-weight: normal;
}

#menu-deroulant ul a {
    padding: 13.5px;
    text-align: center;
}

#menu-deroulant li:hover li a {
    text-transform: inherit;
}

#content {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    max-width: 1900px;
    margin: auto;
}

#main {
    width: 75%;
    padding: 40px;
    background-color: #fffbe3;
    box-sizing: border-box;
}

#aside {
    width: 25%;
    text-align: center;
    background-color: #fff8d2;
    padding: 25px;
    box-sizing: border-box; 
}

.bloc {
    padding: 20px;
}

.bloc-links {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    text-align: center;
}

.bloc-links > div, .bloc-links-2 > div {
    width: 30%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: column;
    flex-direction: column;  
}

.bloc-links img {
    width: 250px;
    height: 166px;
    border-radius: 10px;
}

.bloc-links figcaption, .bloc-links-2 figcaption {
    margin-top: 15px;
    font-weight: bold;
    font-size: 1.35em;
    color: #f8a51e;
}

@media all and (max-width: 1200px) {
    .bloc-links {
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    
    .bloc-links > div {
        width: 100%;
        margin-bottom: 80px;
    }
    
    .bloc-links img {
        width: 250px;
    }
}

.bloc-links-2 {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    text-align: center;
}

.bloc-links-2 img {
    width: 240px;
    border-radius: 10px;
}

@media all and (max-width: 750px) {
    .bloc-links-2 {
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    
    .bloc-links-2 > div {
        width: 100%;
        margin-bottom: 80px;
    }
    
    .bloc-links-2 img {
        width: 250px;
    }
}

h3 {
    color: #f8a51e;
    font-weight: bold;
    font-size: 1.5em;
}

#aside div {
    margin-bottom: 70px;
}

#aside-presentation img {
    border-radius: 100%;
    margin: 35px 0;
}

#aside-presentation figcaption {
    font-weight: bold;
    
}

#aside-presentation figure {
    width: 100%;
    margin: 0;
    padding: 0;
}

#aside-livre div {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#aside-livre img {
    margin-bottom: 30px;
}

footer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    color: white;
    background-color: #c6875a;
    padding: 10px 40px;
    font-size: 16px;
}

@media all and (max-width: 550px) {
    footer {
        padding: 10px 10px;
    }
}

#footer-logos {
    margin: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-flow: wrap;
    flex-flow: wrap;
    margin: 20px 0;
}

#footer-logos div {
    margin: 4px;
    width: 100px;
    height: 100px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#footer-logos img {
    border-radius: 5px;
    width: 80px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

#footer-logos img:hover {
    width: 100px;
}

#footer-text {
    text-align: center;
}

#footer-text div:first-child {
    margin-bottom: 5px;
}

#footer-text a {
    color: white;
    font-weight: normal;
}

#footer-text a:hover {
    color: white!important;
}

#ancre-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.2s ease-in-out;
    z-index: 100;
}

#ancre-top:hover {
    color: white!important;
    background-color: rgba(0, 0, 0, 0.8);
}

@media all and (max-width: 1000px) {
    #ancre-top {
        bottom: 15px;
        right: 15px;
        padding: 15px;
    }
}

.citation {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    color: #8aaf3f;
    font-size: 1.4em;
}

.center {
    text-align: center;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #DAB58A;
}

td {
    padding: 8px;
}

th {
    background-color: #FFE4C4;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #FFF1E0;
}

tr:nth-child(odd) {
    background-color: #FFFBF5;
}

.space-list li {
    margin-bottom: 8px;
}

.space-list ul {
    margin-top: 6px;
}

#themes, #sophrologie-caldendrier ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

#themes li {
    font-weight: bold;
}

#themes ul li {
    font-weight: normal;
    list-style: none;
}

#themes ul li:before {
    content: '• ';
    font-size: 1.4em;
}

#sophrologie-caldendrier ul li:before {
    content: '- ';
}

#themes ul {
    margin: 10px;
    padding: 0;
}

#list-color-rectangle-1 {
    height: 28px;
    width: 10px;
    background-image: url('../img/purple.jpg');
    margin: 0 10px 5px 0;
}

#list-color-rectangle-2 {
    height: 28px;
    width: 10px;
    background-image: url('../img/rouge.jpg');
    margin: 0 10px 5px 0;
}

#list-color-rectangle-3 {
    height: 28px;
    width: 10px;
    background-image: url('../img/blue.jpg');
    margin: 0 10px 5px 0;
}

#list-color-rectangle-4 {
    height: 28px;
    width: 10px;
    background-image: url('../img/rose.jpg');
    margin: 0 10px 5px 0;
}

#themes div:first-child {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.img-float-left {
    border-radius: 10px;
    float: left;
    margin-right: 20px;
}

#mes_valeurs li {
    margin-bottom: 8px;
}

.bibliographie li {
    margin-bottom: 15px;
}

.bibliographie_list i, .italic-space {
    margin-right: 4px;
}

.bibliographie_list ul li {
    margin-bottom: 0;
    list-style: none;
}

.bibliographie_list ul li:before {
    content: '- ';
}

.bibliographie img {
    border-radius: 10px;
    margin: 10px 0;
}

#qui_suis_je a {
    display: inline-block;
    text-decoration: underline;
    margin: 8px 0 8px 0;
}

.small {
    font-size: smaller;
}

#information_entreprise {
    font-size: smaller;
    margin-bottom: -30px;
    margin-top: 50px;
}

#contact-bloc {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between; 
}

#contact-bloc > div:first-child {
    width: 35%;
}

#contact-bloc > div:last-child {
    width: 60%;
}

@media all and (max-width: 1000px) {
    #contact-bloc {
        -webkit-flex-direction: column; 
        flex-direction: column; 
    }

    #contact-bloc > div:first-child {
        width: 100%;
        margin-bottom: 40px;
    }

    #contact-bloc > div:last-child {
        width: 100%;
    }
}

.coordonnees-bloc {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: #f2e3a6;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin: auto;
    box-sizing: border-box;
    padding-top: 25px;
}

.coordonnees-bloc a {
    color: inherit;
    font-weight: inherit;
}

.coordonnees-bloc p {
    margin: 10px auto;
}

@media all and (max-width: 400px) {
    .coordonnees-bloc {
        width: 250px;
        height: 250px;
        padding-top: 30px;
    }

    .coordonnees-bloc p {
        margin: 7px auto;
    }
}

#form-contact-rdv, .form-actus {
    margin: 20px 40px;
}

@media all and (max-width: 900px) {
    #form-contact-rdv, .form-actus {
        margin: 10px 0;
    }
}

#maps {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 100%;
    margin: auto;
}

#maps div {
    width: 380px;
    height: 250px;
}

#maps iframe {
    border-radius: 10px;
}

@media all and (max-width: 1250px) {
    #maps {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    
    #maps div:first-child {
        margin-bottom: 20px;
    }
}

@media all and (max-width: 450px) {
    #maps div {
        width: 100%;
        height: 250px;
    }
}

#map-37rue {
    border-radius: 10px;
    width: 400px;
    height: 250px;
    display: block;
    margin: 20px auto;
}

@media all and (max-width: 500px) {
    #map-37rue {
        width: 100%;
        margin-left: -20px;
        
    }
}

#qui_suis_je {
    margin-top: 50px;
}

#mes_coordonees {
    text-align: center;
}

#mes_coordonees iframe {
    display: block;
    width: 350px;
    height: 250px;
    margin: 60px auto!important;
    border-radius: 10px;
}

#logo-facebook {
    -webkit-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
    opacity: 0.8;
    outline: none;
}

#logo-facebook:hover {
    opacity: 1;
}

#logo-facebook img {
    -webkit-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
}

#logo-facebook img:hover {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

.close {
    font-size: 2em;
    color: black;
    opacity: 0.5;
}

.close:hover {
    opacity: 0.8;
    cursor: pointer;
}

.image-float-left {
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 33%;
}

.image-float-left-vertical {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 200px;
}

.image-float-right {
    float: right;
    margin-left: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 33%;
}

@media all and (max-width: 650px) {
    #main {
        padding: 40px 0;
    }
    
    .image-float-left {
        margin-right: 20px;
        width: 50%;
    }
    
    .image-float-right {
        margin-left: 30px;
        width: 50%;
    }
}

@media all and (max-width: 450px) {
    .image-float-left-vertical {
        display: block;
        margin: auto;
        float: inherit;
    }
}

#benefices-tree img {
    width: 600px;
}

@media all and (max-width: 800px) {
    #benefices-tree img {
        width: 100%;
    }
}

@media all and (max-width: 350px) {
    .image-top {
        width: 100%;
    }
}

.medias iframe, #video-qui-suis-je {
    display: block;
    margin: auto;
    width: 450px;
    height: 250px;
}

.medias ul {
    padding-left: 20px;
}

.medias div {
    text-align: center;
    word-wrap: break-word;
}

@media all and (max-width: 550px) {
    .medias iframe, #video-qui-suis-je {
        width: 100%;
        height: 200px;
    }
}

@media all and (max-width: 1100px) {
    #contact_rdv_availableDay label, #advert_address label, #advert_category label {
        margin-right: 40px;
    } 
}

@media all and (max-width: 800px) {
    #contact_rdv_availableDay label, #advert_address label, #advert_category label {
        margin-right: 20px;
    } 
}

@media all and (max-width: 600px) {
    #contact_rdv_availableDay, #contact_rdv_appointmentFor, #advert_address, #advert_category {
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }
    
    #contact_rdv_availableDay input, #contact_rdv_appointmentFor input, #advert_address input, #advert_category input {
        float: left;
        margin: 5px 0 -17px 30px;
    }
    
    #contact_rdv_availableDay label, #contact_rdv_appointmentFor label, #advert_address label, #advert_category label {
        margin: 0 0 5px 55px;
    }
}

#advert_address input, #advert_category input {
    margin-bottom: 5px;
}

.error-page img {
    border-radius: 10px;
    margin-bottom: 40px;
}

#img-soins-energetiques {
    border-radius: 10px;
    width: 350px;
    margin-bottom: 20px;
}

@media all and (max-width: 400px) {
    #img-soins-energetiques {
        width: 100%;
    }
}



#navigation-buttons-advert {
    position: relative;
}

#button-back {
    position: absolute;
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#button-back span {
    margin-right: 5px;
    margin-bottom: 4px;
}

@media all and (max-width: 1500px) {
    #navigation-buttons-advert {
        position: inherit;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    #button-back {
        position: inherit;
        margin-top: 20px;
    }
}

#button-admin-navigation-actualites {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#button-admin-navigation-actualites a {
    margin: 10px;
}

@media all and (max-width: 400px) {
    #button-admin-navigation-actualites {
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    #button-admin-navigation-actualites a {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

#button-admin-add-edit {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#button-admin-add-edit a {
    margin: 10px;
}

@media all and (max-width: 400px) {
    #button-admin-add-edit {
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    #button-admin-add-edit a, #button-admin-add-edit button {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

.paypal table {
    border-collapse: inherit;
    border: inherit;
    margin-bottom: 15px;
}

.paypal tr {
    background-color: inherit;
}

.paypal td {
    padding: inherit;
}
